[2020-10-09 10:46] danielmarbach opened #3 "Why does CreateAsync return Task<IEnumerable<TItem>>?"
https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/IRepository.cs#L78

return `Task<IEnumerable<TItem>>` while

https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/IRepository.cs#L64

returns `ValueTask<IEnumerable<TItem>>` any reasons why they are not alike?

Also, [notice the xml do

[2020-10-09 12:49] IEvangelist commented on #3
Hi @danielmarbach - thank you for posting the issue first, and asking the question. This is [by design](https://stackoverflow.com/questions/45689327/task-whenall-for-valuetask).

When calls are made to create  multiple items at the same time, they're pushed into a `Task.WhenAll` and each `ValueTask` calls `.AsTask` as there is not an equivalent function for `ValueTask`. I decided to just have that

[2020-10-09 16:28] IEvangelist commented on #3
Hi @danielmarbach - I like it! Thank you for the suggestion. I'll implement this and make it part of 2.0.0.

[2020-10-09 16:50] IEvangelist commented on #3
Fixed by: https://github.com/IEvangelist/azure-cosmos-dotnet-repository/commit/db0756f43938546f3ceb0c9f8a7738a08550cd08

[2020-10-09 16:50] #3 closed

[2020-10-09 21:48] danielmarbach commented on #3
😍🤩Glad my rambling was helpful

[2020-10-11 03:15] tafs7 opened #5 "When to use Cosmos IRepository vs. EF Core DB Provider for Cosmos"
Would love to understand reasons why/when one choose this `IRepository` API for Cosmos over the EF Core DB provider for Cosmos.

There's some overlap in functionality since EF Core's `DbSet<T>` is essentially like an `IRepository<T>`, right? Perhaps this answer might be worth adding to the readme or wiki, so it's not buried is this GH issue.

[2020-10-12 15:41] IEvangelist commented on #5
Hi @tafs7 - I hope all is well. Thank you for posting this issue, and asking this question. I saw your ask earlier on the CosmosDB blog and responded there, before seeing this. My answer is the same, this is just another tool - I'm not too familiar with the official EF Core DB provider - but I can tell you what someone has said who has used both:

This is their opinion. In looking at the API of th

[2020-10-12 16:22] IEvangelist commented on #5
I'm going to close this for now, but if you feel as though I haven't answered the question or if you want to continue to discuss it - we can reopen it. Thanks again.

[2020-10-12 16:22] #5 closed

[2020-10-14 22:53] 3GDXC opened #7 "Async methods CancellationToken"
Please allow the developer can pass a CancellationToken to the Async methods; thus allowing timeout cancellations etc. for long running tasks

[2020-10-15 20:20] IEvangelist commented on #7
Hi @3GDXC - I labeled this as up for grabs. Feel free to send a pull request my way.

[2020-10-16 01:04] IEvangelist commented on #7
Hi again, @3GDXC - I started working on this. I'll include optional parameters for the `CancellationToken`. Look for that in the next patch version, since they'll be optional they are technically opt-in and non-API breaking.

[2020-10-18 01:35] wforney commented on #7
I did this on the enumerable methods in that last PR. I'll include this in my next one.

[2020-10-18 01:36] wforney commented on #7
I don't mind deferring until @3GDXC does this part...

[2020-10-18 06:37] wforney commented on #7
I went ahead and did this in the repository in my last PR.

[2020-10-23 13:01] IEvangelist commented on #7
Added here https://github.com/IEvangelist/azure-cosmos-dotnet-repository/commit/227c05d00fa7a7e03487e05417c70a8104a8f133

[2020-10-23 13:01] #7 closed

[2020-10-23 13:24] 3GDXC commented on #7
great work, and thanks, looking at using this in a new development of a eCommerce application

[2020-10-23 13:27] IEvangelist commented on #7
Live in [version 2.0.3](https://www.nuget.org/packages/IEvangelist.Azure.CosmosRepository/2.0.3)

[2020-11-21 15:39] Ibrahim-Islam opened #19 "How to use if accessing multiple database in the same application?"

[2020-11-22 02:04] IEvangelist commented on #19
Currently, it is only possible to work with a single database at a time with this SDK. However, you could work with multiple containers within the same database. Otherwise, you may want to consider using just the Cosmos DB .NET SDK - which this wraps.

[2020-11-22 02:04] #19 closed

[2020-11-22 17:02] Ibrahim-Islam commented on #19
Why cant this be extended to support this use case?

[2020-11-27 15:18] daveabrock opened #23 "Issue loading Microsoft.Extensions.DependencyInjection.Abstractions"
I'm not sure if this is a problem with my machine or not, but wanted to ask.

When I try to run my Azure Function after bringing in and using your awesome library, I get a runtime error:

[code]

I've tried to mirror your sample, so my project file looks almost the same as yours. Here's the most important bits:

[code]
The difference is that I fetched your project in NuGet, and in your sample you'

[2020-11-30 15:10] IEvangelist commented on #23
Hi @daveabrock - thank you so much for posting this issue. I have not actually created an Azure Function yet, using the recent updates from @Invvard. I'm curious if this isn't an issue that is related to .NET 5, I'll have to try this and get back to you. With that said, I'm curious if @Invvard has used this SDK with their updates to try out Azure Functions yet? Maybe they have some insights?

[2020-11-30 15:52] IEvangelist commented on #19
The configuration extensions currently limit this, it would take a lot of work to change the design of this SDK and corresponding API surface area.

I'd have to consider how to go about doing that, it might be something that I could consider for future work, and maybe it could follow a factory pattern where you registered named databases and get `IRepository<TItem>` instances that correspond to a

[2020-12-02 00:47] daveabrock commented on #23
I believe I figured out the issue. I cloned the repo, and added it to my project. I was able to reproduce the runtime error and to resolve it by reverting `Microsoft.Extensions.Options.ConfigurationExtensions` down to 3.1.10:

[code]

I was going to submit a PR (and I can, if you want) but I would imagine you would want to make sure it doesn't break anything else—it shouldn't (and your tests pass!

[2020-12-02 01:23] IEvangelist commented on #23
PRs are absolutely encouraged and celebrated, by all means - please feel free to submit one. I'd be happy to review it. So, is there an issue with the code - and can we close this?

[2020-12-02 14:27] #23 closed

[2020-12-02 14:42] IEvangelist commented on #23
The version with these fixes is now live on NuGet:
https://www.nuget.org/packages/IEvangelist.Azure.CosmosRepository/2.1.2

[2020-12-15 16:54] afacanerman opened #26 "[Question] Assigning the PartitionKey"
Hi

I am trying to use this package configuring the custom partition key (/userIdentifier) instead of /Id, but I am getting an error from cosmos client as below
`System.ArgumentException: The requested partition key path '/id' does not match existing Container 'VideoElapsedTimeData' with partition key path '/userIdentifier' (Parameter 'PartitionKey')`

[code]
My container partition key set as /use

[2020-12-15 17:29] afacanerman commented on #26
I think I might have solved the problem with putting

 **[PartitionKeyPath("/userIdentifier")]**
    public class VideoElapsedTimeData : Item
    {

on top of the SubItem and deleting the container and create via insert

[2020-12-15 18:11] IEvangelist commented on #26
Yes, the `PartionKeyPath` needs to be specified in conjunction with overriding the `GetPartionKeyValue()`. If that works, we can close this issue. I did add source documentation on this:

- [PartitionKeyPathAttribute](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/Attributes/PartitionKeyPathAttribute.cs#L9-L13)
- [Item.GetPartitionKeyVa

[2020-12-16 08:58] afacanerman commented on #26
Yes, it's working now. I have managed to solve it only after focusing on the source documentation. Would be nice to have an example though. Regardless Great job, thanks.

[2020-12-16 10:40] afacanerman opened #27 "Support for QueryDefinition"
Hi,

`GetByQueryAsync` is accepting only string type query. This is open to the SQL injection attacks. Would it be ok to create another overload that accepts CosmosDB `QueryDefinition`?

`ValueTask<IEnumerable<TItem>> GetByQueryAsync(QueryDefinition queryDefinition, CancellationToken cancellationToken = default);`

I think this change would introduce CosmosDB package to the client but it would be

[2020-12-16 13:42] IEvangelist commented on #27
Ultimately, this calls into the official Azure Cosmos DB .NET SDK instantiating a `QueryDefinition` itself from the `string` representation of the query. It is just as vulnerable to injection as exposing an overload with the `QueryDefinition` as they are both based on a raw `string`.

[See here](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepositor

[2020-12-16 22:29] afacanerman commented on #27
The PR created. Thank you

[2020-12-17 13:43] IEvangelist commented on #27
Fixed in #29

[2020-12-17 13:43] #27 closed

[2020-12-22 13:01] drma-dev opened #31 "custom CreateDocumentCollectionIfNotExistsAsync"
It would be interesting if we could customize the creation of a container, so we could configure indexes, for example.

[2020-12-22 19:15] drma-dev opened #32 "Creating a container with a different class"
I have defined a class and I am inserting an item in the container with another class (which inherits from it).

![image](https://user-images.githubusercontent.com/12803050/102924527-8565cf80-4470-11eb-9368-42209470d61f.png)

But the container is creating from the class I passed, not from the class I defined in the repository.

![image](https://user-images.githubusercontent.com/12803050/102924650-

[2020-12-22 19:21] drma-dev commented on #32
I saw that in the example a converter is used, but why is a type required in the repository, if that type is not respected.

[2020-12-24 15:30] drma-dev opened #33 "Repository that does not depend on the Item class"
![image](https://user-images.githubusercontent.com/12803050/103096657-66d41580-45e3-11eb-929e-44f95a6d13d8.png)

I'm new to the world of Cosmos DB, but I was thinking: If I make a custom query, which involves several containers, shouldn't my repository be free? Not being forced to inherit a class that defines the container?

[2020-12-27 01:59] #33 closed

[2021-01-03 01:03] IEvangelist commented on #32
Hi @drma-dev - the type is the type of the instance, since `Item` is a concrete type, and there are no type parameters involved here - it uses the `.GetType()` function on the instance.

https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/Item.cs#L56

The instance in your case is a `ProfileAddCommand`, so it correctly types this. Were you ex

[2021-01-03 01:16] drma-dev commented on #32
So, I created the repository based on the Profile class.

I'm using the ProfileAddCommand class, which inherits from Profile, just to avoid duplicating the attributes.

[2021-01-03 01:21] drma-dev commented on #32
But talking about it, I saw another approach that I found interesting.

The type was merged into the Id, in the following format: 'type::id'

So, wouldn't it be more interesting to be like that? since it would allow you to create two items in the same collection and using the same id?

[2021-01-04 22:45] MickCG opened #34 "Not getting data from local Cosmos Db"
First I am probably biting off more than I can chew. I have a fair amount of experience but all pretty simple apps in the past. Having said that, I stumbled on the package and cloned the repository. I looked at the Azure Function example specifically, since that is what I'm needing right now. My example that I was having trouble with redid the Startup, modified the data models to have the class fr

[2021-01-05 19:41] IEvangelist commented on #34
Hi @MickCG - I'm thrilled that you found this and have been attempting to use it. Sorry to hear that you're not having much luck, with that said, let's work backwards a bit and make sure you have everything setup correctly.

1. Do you have an Azure Account created?
2. Do you have an Azure Cosmos DB resource created?
3. Did you correctly configure the settings with the Primary Key?

[2021-01-05 19:53] MickCG commented on #34
I just screwing around with the function example had success. Man trying a bunch of things all at once just causes confusion you think I would know that from my previous life as a Computer Tech / Network admin. Anyway, found my problem, in the AzureFuctionTier the problem is happening in the get based on await _repository.GetAsync(u => u.EmailAddress == emailAddress, cancellationSource.Token seems

[2021-01-05 20:07] IEvangelist commented on #34
So can we close this issue? Or are you going to update it to state that the expression doesn't correctly get compiled?

[2021-01-05 20:15] MickCG commented on #34
Oh sorry, yes I think I am off and running, close this issue. I swear I have messed around for the easiest way to build the backend with Azure Functions for the project I am working on, which will be a mobile app with Xamarin.Forms. I explored using EF for the job of accessing Cosmosm db. But ran into big problems with versions. This is a lot more straight forward all the way around. Thanks for yo

[2021-01-05 20:16] #34 closed

[2021-01-05 20:17] IEvangelist commented on #31
This is out of scope for the current implementation. I was striving for simplicity. If you need this functionality you could always just use the official Azure Cosmos DB .NET SDK that I wrap.

[2021-01-05 20:17] #31 closed

[2021-01-14 01:58] #26 closed

[2021-01-14 02:00] IEvangelist commented on #32
This works as defined and as desired. Closing for now, we could always reopen this if need be, or if you're interesting in taking a stab at posting a PR. I would consider reviewing it.

[2021-01-14 02:00] #32 closed

[2021-01-31 19:30] dcuccia opened #35 "IItem default implementation?"
Very cool abstraction, thank you! This is more of a "discussion," but just curious since it's so lightweight, whether you think a C# 8 "IItem" [default interface implementation](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/default-interface-methods) would suffice as a substitute for the concrete [Item](https://github.com/IEvangelist/azure-cosmos-dotnet-rep

[2021-01-31 22:17] dcuccia commented on #35
Think I answered my own question at the end, there - not a full solution, as backing fields are still needed. The IItem abstraction would probably still be helpful, as it would allow other parent entity types to implement the same base item logic. Here's an example that has tests passing:

https://github.com/dcuccia/azure-cosmos-dotnet-repository

Let me know if there's an interest. Happy to clean

[2021-02-01 01:20] IEvangelist commented on #35
Hi @dcuccia - I just now saw this, sorry for the delay. Hmmm, I see what you're saying...thanks for adding an example. I do like that, it makes sense and allows for a bit more flexibility. If you put together a PR with this, I'd consider merging it with a few minor updates. One thing I cannot do though, is move up to `netstandard2.1`.

[2021-02-01 06:53] dcuccia commented on #35
@IEvangelist thanks for your reply! For your reference, I just the PR together for your review [here](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/pull/36), which cleaned some things up, reverted to netstandard2.0 (was just left over from playing with default interface implementation), and added a trivial usage in the tests. No pressure here - just a thought - but let me know if I

[2021-02-01 12:54] #35 closed

[2021-02-01 19:13] dcuccia commented on #33
@drma-dev you might be interested in [this merged PR](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/pull/36), which allows custom entities that implement a new [IItem](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/IItem.cs) interface. Sample usage [here](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob

[2021-02-01 19:51] IEvangelist commented on #33
This has since been released and is now in version 2.1.4, enjoy!

https://www.nuget.org/packages/IEvangelist.Azure.CosmosRepository/2.1.4

[2021-02-14 21:10] daveabrock opened #38 "Recent version bump potentially breaks Azure Functions support"
It looks like this recent commit may have broken support for Azure Functions, as in #23 we had to downgrade the versions to get it to work correctly.

It's this commit:
https://github.com/IEvangelist/azure-cosmos-dotnet-repository/commit/871b496bdc516396aec3fb92545c9bb15e4fa72d#diff-ad7a9c31b9a37579b3004efcd03d04fffed6be0fed1e3d8dfc61787b91ea41a0R48

[2021-02-14 21:21] daveabrock commented on #38
Downgrading to `2.1.4` works for me as a workaround for my talk tomorrow. 😎

I know there are .NET 5.0 workers we can look into so you aren't dependent on the Functions host. Maybe I'll look into that.

[2021-02-16 13:14] IEvangelist commented on #38
What worker version are you targeting, this should work as these extension packages multi-target and support .NET Standard 2.0. That is supposed to be the glue that allows for this to function correctly.

[2021-02-21 00:11] evenlee opened #39 "New class Attribute to customize container for item"
**Is your feature request related to a problem? Please describe.**
I want to put some items in one container, but seems current setting only allows one item one container

**Describe the solution you'd like**
An attribute like partitionkey attribute on class should be good

**Describe alternatives you've considered**
no alternative I think

**Additional context**
none

[2021-02-21 01:56] IEvangelist commented on #39
There is an option to have a single item per container, or you can have all items share a single container. The choice is yours, but you cannot currently mix-and-match. I'm closing this for now, as I do not plan to change this now.

https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/Options/RepositoryOptions.cs#L55

[2021-02-22 05:58] evenlee commented on #39
Thanks @IEvangelist, I still think the feature will make the sdk more flexible, but i  respect your decision, i will fork you code and try to make some changes:)

[2021-02-22 15:37] evenlee commented on #39
I want to mix the containers, like class A,B,C uses container 1, but C,D,E uses container 2, the easiest way is to add an attribute to the class like:

       [Container("Container1")]
       public class A:CosmosDbBaseItem{}

       [Container("Container1")]
       public class B:CosmosDbBaseItem{}

        Container("Container2")
        Class D{}

I've implemented it, my pleasure if you would m

[2021-02-22 15:38] IEvangelist commented on #39
Ah, ok - that makes a lot more sense now. I was a bit confused. I could probably add that.

[2021-02-22 15:39] evenlee commented on #39
Thanks, that will be great:).

[2021-03-01 09:06] jzhouw commented on #26
hi,  I tried the interface IItem and implemented a concrete class like below, the CRUD works but I noticed PartitionKey field in the db like below screenshot and looking not correct.. not sure.  Is this the correct usage of Item with PartitionKey attribute (didn't find an example of using IItem)

![image](https://user-images.githubusercontent.com/1085984/109475028-28117e80-7ab0-11eb-8457-340eca2bd

[2021-03-02 02:06] IEvangelist commented on #26
There is no reason to implement your own `IItem`, in this case just use the provided `Item` which already exposes the functionality you're looking for and override the `Item.GetPartitionKeyValue()`.

[2021-03-11 10:06] afacanerman commented on #38
Hi, I am having the same issue here.
I thought it was my environment but then I run the sample code for the Functions in this repo and got the same error. Tried on a different pc too but the same result.
Is there any workaround for this?

[2021-03-11 13:21] IEvangelist commented on #38
For now you could use version 2.1.4. I'm still looking into this issue as I believe it to be a problem with Azure Functions themselves. Also, this literally just happened: https://azure.microsoft.com/en-us/updates/general-availability-azure-functions-supports-net-5-in-production/

[2021-03-18 13:39] IEvangelist commented on #38
Closing due to inactivity and known work around. If using older rev of Azure Functions, rely on v2.1.4.

[2021-03-18 13:39] #38 closed

[2021-05-07 13:29] IEvangelist commented on #39
Hey @evenlee - I've been buried lately, would you be interested in creating a PR to introduce this new feature?

[2021-05-07 13:35] IEvangelist opened #41 "Refactor areas of the code that have high cyclomatic complexity"
Evaluate the _[CODE_METRICS.md](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/CODE_METRICS.md)_ file and determine which areas could use improvement, based on the highest levels of cyclomatic complexity. Refactor into smaller, more manageable / testable bits.

[2021-05-09 15:12] evenlee commented on #39
Thanks @IEvangelist, I tried, but seems I have not permission to push. I've uploaded the code [here](https://github.com/evenlee/azure-cosmos-dotnet-repository), please review.

[2021-05-10 20:27] IEvangelist commented on #39
Part of v2.1.6

[2021-05-10 20:27] #39 closed

[2021-05-12 14:58] IEvangelist opened #43 "Explore source generators as an alternative to reflection-based attribute usage"
Currently there are several attributes that are exposed to consumers:

- `PartitionKeyPath`
- `Container`

These attributes are used to declaratively serve as a means for specifying the partition key path of an item or the container an item should belong to respectively. It would be nice to avoid reflection-based attribute usage, and instead source generate the implementation details - but that mi

[2021-05-20 12:29] philip-reed opened #44 "GetAsync item.Type"
More of a question, not sure if its an issue.
In `DefaultRepository.GetAsync` methods, there are mixed implementations for checking the `Type` property is set/defined on the Item.

`return item is { Type: { Length: 0 } } || item.Type == typeof(TItem).Name ? item : default;`

And

[code]

Are these doing the same thing?
The latter one seems to exclude items where `Type` is zero length string or nul

[2021-05-20 13:47] IEvangelist commented on #44
Hi @philip-reed

The `.IsDefined()` is part of an internal implementation detail within Cosmos DB's SQL API, [see `IS_DEFINED`](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-is-defined), which maps to this C# method. It's required as it's the only way to reliably check if a property is defined in an object graph. The first check is not translated to any other medium, well besides IL -

[2021-05-20 15:33] philip-reed commented on #44
So does this mean that if the type property is an empty string or null, the first snippet would include the record, and for the second snippet the record would be filtered out?  Will try to find time to set up a PoC to test it.

Still trying to wrap my head around the code but will look at doing a PR if needed once I understand this.
👍

[2021-05-25 20:30] andrewalderson opened #45 "You're required to use version 2.14 for Azure Functions"
*Original title: Upgrade to C# 9.0 breaks azure functions*

I am not sure if you are aware of this, and I don't consider it a bug but maybe it will save some other people some time. Versions of this library that target C# 9 (after 2.14) break azure functions with aspnetcore 3.1. The Azure Functions sample in this repository doesn't work anymore.

I won't be upgrading my function apps until .NET 6

[2021-05-26 12:42] IEvangelist commented on #45
Thank you for this callout, I'm going to pin this issue for others - to make it more visible.

# TL;DR;

**Use version 2.14 for Azure Functions.**

[2021-06-07 18:32] anktsrkr commented on #19
Hey @IEvangelist  Could you please share some psudo code for what you think? That would really help and I guess it is very much necessary to support multiple databases from a application what I think.

[2021-06-09 15:39] VeryCautious opened #46 "Unique-Key constraint configurable"
There is not jet a possibility to create containers with a unique-key-constraint.

Because of that it would be great if one could specify those. Maybe one could add an attribute to the Property that should be unique, int the Item that implaments the IItem interface.

Then when a container is created, the type it is created for is checked for this attribute.

[2021-06-10 13:52] #46 closed

[2021-06-10 14:17] IEvangelist commented on #46
@VeryCautious  I was just publishing version 2.1.7 when I realized that the `UniqueKeyAttribute` was private. It wouldn't have been exposed to any consumers, not sure how I missed that in the code review - but I need to fix that first. LOL

[2021-06-10 14:27] IEvangelist commented on #46
This is in version 2.1.8:
https://www.nuget.org/packages/IEvangelist.Azure.CosmosRepository/2.1.8

Should be live soon! Thanks again

[2021-06-11 16:14] anujrhicstech opened #49 "Microsoft.Azure.Cosmos.ContainerProperties.set_UniqueKeyPolicy(UniqueKeyPolicy value) (version 2.1.8)"
System.ArgumentNullException: Value cannot be null. (Parameter 'value')
   at Microsoft.Azure.Cosmos.ContainerProperties.set_UniqueKeyPolicy(UniqueKeyPolicy value)
   at Microsoft.Azure.CosmosRepository.Providers.DefaultCosmosContainerProvider`1.GetContainerValueFactoryAsync()
   at Microsoft.Azure.CosmosRepository.Providers.DefaultCosmosContainerProvider`1.<.ctor>b__7_0()
   at Microsoft.Azure.Co

[2021-06-11 17:47] anujrhicstech opened #50 "Need feature to disable or override "type" property with other name"
I already have a property in my class and cosmos Db named "type",
which causes the issue when retrieving an item as the type field is in CosmosDb and Repository Item so we have a conflict.

Could you please add a feature so we can disable the Item class's "type" property if not required? OR
If we can override/rename it with some other property name.

Also, can we use UnitOfWork with your current r

[2021-06-11 18:02] IEvangelist commented on #49
Yikes, this a bit unexpected. There was a recent change to include the ability to have a unique key policy for the container - I'll fix this right away.

[2021-06-11 18:09] #49 closed

[2021-06-11 18:11] IEvangelist commented on #50
I am sorry for the concern here, by "type" is a reserved property name of this package. I'd be open to reviewing a PR to adjust or extend this functionality as you've suggested - but I'd be hesitant to do so.

You are free to just a `JsonPropertyName` value to change your `Type` property to something else. Would that work?

[2021-06-15 01:17] jiggyswift opened #51 "Filtering by type seems broken"
The type filtering within the GetAsync method seems broken when configured to use a single container with different types differentiated by the "Type" field.

This is obviously a critical issue because if someone saves a "Person", then attempts to load and save a "Car", the bug causes this package to deserializes a Person into the Car object, and once saved back into Cosmos will delete all the Per

[2021-06-15 01:46] jiggyswift opened #52 "Data loss with nuget package versions 2.1.4 through to 2.1.9"
Sorry for being melodramatic, but this bug is critical enough and will definitely cause data loss in production.  It is likely people will review this when trying to resolve.

Temporary resolution: Downgrade to nuget package version 2.1.3 until this issue has been resolved.  I have verified version 2.1.3 has the correct behaviour.

With versions 2.1.4 through to 2.1.9, if you are storing multiple

[2021-06-15 12:18] IEvangelist commented on #52
Hi @jiggyswift,

Oh my, I was unware of this issue. I'm going to try to reproduce it and see what I can figure out. We've had the concept of the `Type` discriminator in place for a while now - and I've been using this in production, and I've not see this behavior.

1. What were your settings before, did anything there change - specifically the `ContainerPerItemType`?
1. Did the shape of your objec

[2021-06-15 12:19] IEvangelist commented on #51
Duplicate of #52 - closing this one.

[2021-06-15 12:19] #51 closed

[2021-06-15 22:58] jiggyswift commented on #52
Hi David,

The data loss just flows on from it not discriminating on the Type.  Just to be clear: to get this working (and recommend version 2.1.3) I started with 2.1.9 in my .NET 5 project, then just kept rolling back to your earlier nuget package versions, one at a time.  When I got to 2.1.3 it started working correctly.  So the only change to my project to get it working was rolling back to 2.1

[2021-06-16 02:12] jiggyswift commented on #52
David, not sure if this helps, but in Azure if I open up the Cosmos instance and type a query into the SQL API, I get these results:

This returns nothing (Type is in uppercase)
select * from c where c.Type = 'Person'

This returns the current list of objects (type is in lowercase)
select * from c where c.type = 'Person'

So it would appear the Cosmos SQL API cares about the casing of the JSON.  I

[2021-06-17 14:03] evenlee opened #53 "Feature request: pagination support"
When we get items from repo, if the count of items is more than several thousands, a better way is to get data by page, can we support it?

[2021-06-17 14:17] IEvangelist commented on #53
Hi @evenlee - that is a great idea, I'd love to review a PR for this addition. Would you be willing to create a pull request to add this functionality?

[2021-06-17 14:19] IEvangelist commented on #52
I didn't think that things were case sensitive - I'm really curious now as that does sound like a difference in behavior as it relates to serialization. I'll try to look more closely tonight. Thanks for the follow up on this.

[2021-06-21 21:33] anujrhicstech commented on #53
Hi IEvanelist,

I was trying to create a custom pagination functionality but facing following issue, could you please help me with that
"DocType" is my partition key field

1) for PaginationDto, First I am trying to get total count of records

if (Paginate.TotalCount == 0)
            {
                QueryDefinition queryCount = new QueryDefinition("SELECT count(c.DocType ) FROM c WHERE c.DocTyp

[2021-06-22 13:52] evenlee commented on #53
Thanks @anujrhicstech for the starting. @IEvangelist I have not got time to investigate yet, will start it soon.

[2021-06-22 18:10] jeminpro opened #55 "Selecting a partition key in an item class"
This is an excellent package that makes it working with Cosmos DB a breeze. However, as there is a limit of 20GB per partition key and currently partitions defaulted per type, we cannot use this library on enterprise projects where data could be a lot bigger per partition.

Is it possible to select a partition key via JsonProperty so that the partition key can be specified within a repository item

[2021-06-22 18:32] IEvangelist commented on #55
Hi @jeminpro - thank you for your kind words. Yes, I believe that there is an existing solution -- does this address your concerns, see: https://github.com/IEvangelist/azure-cosmos-dotnet-repository#advanced-partitioning-strategy

[2021-06-23 14:57] #55 closed

[2021-06-23 16:20] PraveenValavan opened #56 "Feature : Managed identity"
Thanks for the project!!
We want to access our database through managed Identity, when will it be possible ?

[2021-06-24 09:13] deepbass commented on #53
second this, love this library and would love this feature. I'll try and carve out some time to help as it has the up for grabs tag - is there a contributor guide or something?

[2021-06-24 12:14] IEvangelist commented on #53
I @deepbass - I haven't put together a contributor guide yet. But contributions are most successful when starting as an issue, formalizing a plan through discussion and then creating a pull request. The pull request should include unit tests, and follow all of the existing naming conventions and styling. The pull request shouldn't include changes to existing infrastructure unless explicitly stated

[2021-06-24 14:57] emrekara37 commented on #53
Hi @evenlee ,

i want to implement this feature too , if you didn't start we can start together or i can support to you

[2021-06-26 00:33] zhangzunke commented on #53
Hi @emrekara37  and @evenlee,
I am working on this feature, the PR has been created, and ready for approval.

[2021-06-26 20:59] farcasclaudiu opened #58 "Multiple containers support"
Just a question:
Is it possible to support multiple containers (eg: one container for data, another container for audit) ?

[2021-06-28 14:04] IEvangelist commented on #58
Hi @farcasclaudiu - as of right now, the answer is "no". But this is something that I've been thinking would be nice to have. It would require changing a lot of infrastructure, and might even be a breaking change if not done correctly. There would need to be a lot of design discussion around this as there are many ways it could be configured, for example:

- How should we indicate which Item belon

[2021-06-28 14:05] IEvangelist commented on #56
I'm not sure I follow? Is there a way to use the existing .NET Cosmos DB SDK with managed identity now -- if so where are the details on that, it might be as easy as exposing a pass-thru?

[2021-06-28 15:20] farcasclaudiu commented on #58
I will be tempted to say "neither".
My idea will be to have the cosmosdb factory resolving each specific IRepository based on a specified name (string key).
Then it should be up to the developer what entities/types he will be using with each and every IRepository.

Ex:
_personRepository = repositoryFactory.GetFactory<Person>("data");
_repositoryAudit = repositoryFactory.GetFactory<AuditInfo>("audi

[2021-06-30 14:17] anujrhicstech commented on #53
@IEvangelist , its seems @zhangzunke addressed the requested changes, are there anymore changes required ? or can you please review, merge and release it

[2021-06-30 14:44] IEvangelist commented on #53
Hi @anujrhicstech - I'm still reviewing it, there are a few conceptual / design decisions that I'm thinking about. But it is much closer! Stay tuned...

[2021-07-05 17:17] CarloGarcia opened #59 "Transforming the model in a GET response"
I would like to return a different model (POCO class that derives from Item) on some GET responses/read operations for a given repository.

This model would be a cut down version of the "main" model and only return the fields specified in the query that is sent to CosmosDb.

Let's say we have a "Person" entity and, instead of returning the full JSON payload for an entire person, the SQL query prov

[2021-07-06 16:16] mumby0168 opened #60 "In memory running option"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
It would be useful to have a implementation of the `IRepository<T>` which would run an in memory store much like what EF core provides. Matching the cosmos API wherever possible for use alongside the `Microsoft.AspNetCore.Mvc.Testing` nuget package. This would be great for running integra

[2021-07-06 16:25] IEvangelist commented on #60
I love this idea, @mumby0168 - I could easily imagine a companion repository and NuGet package that provides this testing capabilities. Would you expect it to be within this package - perhaps something like this?

[code]

[2021-07-06 16:27] mumby0168 commented on #60
Yeah that would be the plan just a different implementation of `DefaultRepository<T>` was my idea half started this idea in a project I am working on at the moment but having it as part of the package would be great.

Only slight issue I maybe see is mapping the SQL overloads for GetAsync to an internal list sure it is something that can be worked out however.

[2021-07-09 15:37] mumby0168 commented on #60
Hi @IEvangelist I am currently working on this first commit is here all be it very basic, wanted to get your feedback as I work through it, would it be best to keep a PR as a draft into this repository from my fork or just wait until I am ready?

https://github.com/mumby0168/azure-cosmos-dotnet-repository/commit/44f3c41993a2de419901b77d24f84f81d650d070

Thanks,
Billy

[2021-07-09 15:50] IEvangelist commented on #60
Hi Billy, that is a great start - added a few comments.

[2021-07-09 15:51] mumby0168 commented on #60
Thank you, will work through this over the next few weeks, on holiday next week so might be a slow start haha. Thanks for your time 👍

[2021-07-09 16:03] dcuccia commented on #60
This would be great. I've been working against the Linux Docker Cosmos DB emulator, but it's a bit heavy and SSL gets in the way.

[2021-07-09 16:22] mumby0168 commented on #59
Hi think I ran into a very similar problem as this we wanted a more condensed version of a type, the way we did this was to create another type with less properties, and set the container name and partition key attributes to be the same as the original type, the trick is to set the Type field on the smaller object to be an empty string then when reading back it passes this check below:

[code]

So

[2021-07-09 16:55] mumby0168 commented on #43
In order to avoid attribute usage could the `Item` classes define these as  readonly properties that are forced to be implemented or could this be driven by some more `ServiceCollectionExtensions` something like this maybe

[code]

Only ideas but it would remove the need for reflection.

[2021-07-09 18:37] mumby0168 commented on #60
Hello again @IEvangelist I have pretty much finished the basics of the implementation.

I have added a small section to the docs.

I was wondering is it worth adding a sample using `Microsoft.AspNetCore.Mvc.Testing` against the web tier project?

Also having thinking that supporting the following methods:

[code]

Any tips or plan of attack would be appreciated.

[2021-07-10 10:56] anujrhicstech commented on #53
Hi @IEvangelist ,
Have you completed the review of this pull request, are any changes required.
Just awaiting get this update into my test project. Any idea when this pull request might be processed.

Thanks

Hi @IEvangelist ,
Have you completed the review of this pull request, are any changes required.
Just awaiting get this update into my test project. Any idea when this pull request might be pr

[2021-07-13 01:16] IEvangelist commented on #53
Hi @anujrhicstech - we've been waffling over this for a while now and decided that the proposed PR wasn't the correct implementation. We all agree that the feature should exist, but we just need to implement it correctly. See some of the comments in the PR, and this in particular : https://github.com/IEvangelist/azure-cosmos-dotnet-repository/pull/57#issuecomment-878343483

[2021-07-15 19:40] jrwmacedo commented on #52
Hello David, I was able to reproduce this issue as well. The issue just affects this overload of the GetAsync method.
`    ValueTask<IEnumerable<TItem>> GetAsync(
      Expression<Func<TItem, bool>> predicate,
      CancellationToken cancellationToken = default (CancellationToken));`

![image](https://user-images.githubusercontent.com/12876899/125843102-f7ab4a61-33bb-49cf-b68f-0a188017ba14.png)

T

[2021-07-16 11:24] amdav commented on #52
The original poster (David/jiggyswift) here.  I looked at my code again and confirm this completely explains the issue.

At noted, this impacts all versions after 2.1.3.  I am still running on 2.1.3, which does not have this bug, as it was causing my production data to be deleted because all items (or any type) were being loaded (due to the issue with the capitalization of 'type' versus 'Type'), a

[2021-07-17 04:36] jrwmacedo commented on #52
Hello @IEvangelist , good morning.
I already have a fix for that and the PR is created, however, I need permission to push it.
Could you give me that?

Many thanks,
Junior

[2021-07-20 13:38] IEvangelist commented on #45
[Fixed with v2.2.0](https://www.nuget.org/packages/IEvangelist.Azure.CosmosRepository/2.2.0)

[2021-07-20 13:38] #45 closed

[2021-07-23 20:08] mumby0168 opened #67 "Community chatroom"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
A chatroom for the community, `Discord` would be my suggestion, no reason we can't have more than one?

**Describe alternatives you've considered**
`n/a`

**Additional context**
`n/a`

[2021-07-23 20:09] dcuccia commented on #67
Discord sounds great to me, @mumby0168

[2021-07-23 20:11] mumby0168 commented on #67
I'll hang on for anymore opinions then if not I can create the channel and i'll update the docs to include a link 👍

[2021-07-23 20:12] z3le commented on #67
+1 for discord

[2021-07-23 20:18] mumby0168 commented on #53
Also may be good to refer to based on https://github.com/IEvangelist/azure-cosmos-dotnet-repository/pull/57#issuecomment-878343483 a jump straight to the issue in the ef-core implementation for cosmos https://github.com/dotnet/efcore/issues/24513

[2021-07-23 20:34] jvilomar commented on #67
I will be ok with whatever you decide guys.

El vie, 23 jul 2021 a las 16:12, z3le ***@***.***>) escribió:

[2021-07-23 21:14] mumby0168 commented on #67
Hi all discord link is here: https://discord.gg/pRsUTJM9

[2021-07-25 20:25] #67 closed

[2021-07-25 20:37] mumby0168 opened #71 "Alternate method to configure container-name/partition-key for an item type"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
Another way to configure the container name & partition key for a given item type this could be done when configuring the cosmos repository options or another extension method to services. Maybe something like below:

[code]

This may be better to be done as part of a configure action for

[2021-07-25 20:47] mumby0168 commented on #53
Some more information on continuation tokens https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-pagination#continuation-tokens

[2021-07-29 04:21] pingdong commented on #60
Hi, mumby0168. I didn't make last Saturday meeting.

For temporary solution, that way I'm using

For integration testing, testing against the real cosmos db is prefer. I had a discussion with our MS consultant about it.

Secondary, for local unit testing, you could use local cosmos emulator. If you want to run those unit tests in pipeline. You could use windows image. It has cosmos emulator built-

[2021-07-29 05:51] mumby0168 commented on #60
Hi, yes we have an option to this in our integration tests currently we can either run in memory mode or against the real services in the way you have described.

We have seen benefit in terms of speed of running tests in this way using an in memory model, but do hope to run tests on a nightly against a real Cosmos DB service.

[2021-07-29 06:19] pingdong commented on #60
I guess you don't want tests pollute each other. We have a similar issue before, now we run them is parallel by isolating each test.

[2021-08-03 10:40] #60 closed

[2021-08-03 15:30] mumby0168 commented on #67
Link that will not expire: https://discord.gg/qMXrX4shAv

[2021-08-04 13:20] mumby0168 opened #78 "Last Updated Property on Item"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
A property adding to the default `Item` type that includes the `_ts` (last-updated) timestamp provided by cosmos. This can be converted from unix time to a UTC value represented as a `DateTime` with the property name of `LastUpdatedUtc`.

**Describe alternatives you've considered**
Manual

[2021-08-04 13:23] mumby0168 opened #79 "Set TTL (Time to live) at Item Level"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
A way to configure a `TimeSpan` or seconds for an item to live for after it has been created.

**Describe alternatives you've considered**
Manually setting this as a the `ttl` property on a class that already implements `Item` or `IItem`

**Additional context**
`n/a`

[2021-08-04 13:30] mumby0168 opened #80 "Set TTL (Time to Live) at Container Level"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
A way to specify the default time to live for a whole container. This can be achieved via the code below. It would be a good feature to have this configurable for each container
[code]

**Describe alternatives you've considered**
`n/a`

**Additional context**
`n/a`

[2021-08-06 15:56] andrcami opened #83 "Transactions and optimistic concurrency control"
Hi I am working on a project that is using your library, the project requires that we handle some form of Transactions or optimistic concurrency control on the data. Essentially I need to read the data and change contents within the document and write it back.

What I want to avoid is when writing back to have a newer version in the database and my data ends up overwriting the current document.

M

[2021-08-06 16:10] CarloGarcia commented on #59
That did the trick for me, thanks!

[2021-08-06 16:10] #59 closed

[2021-08-06 16:27] CarloGarcia opened #84 "Implement CountAsync<TItem>"
I would like to request a count of records for a given filter criteria/query. For example:
`SELECT VALUE COUNT(1) FROM c WHERE c....`

When querying CosmosDb directly, this returns a response as follows:
[code]
(In the example above, there are 27 records)

Using the repository, this doesn't seem possible. Is there a way to use the existing repository to get the above result back, or would a new me

[2021-08-06 16:30] IEvangelist commented on #84
@dcuccia @mumby0168 we should consider adding this to the repos API. Perhaps a `ValueTask<int> CountAsync` for a given `IRepository<TItem>`, should be easy.

[2021-08-06 16:53] mumby0168 commented on #84
Yeah certainly can be done, I have been thinking about an 'ExistsAsync' also.

[2021-08-06 16:55] IEvangelist commented on #84
Yes, let's track these new APIs separately. But I think they're great and easy additions.

[2021-08-09 01:04] #71 closed

[2021-08-09 01:05] IEvangelist commented on #58
This was addressed as part of #77 - do you think we might be able to close this one @farcasclaudiu?

[2021-08-09 01:07] IEvangelist commented on #44
Is this related to #50 - do we still need this issue open?

[2021-08-09 06:06] philip-reed commented on #44
Not sure it is related but this can be closed regardless.

On Mon, 9 Aug 2021, 02:08 David Pine, ***@***.***> wrote:

[2021-08-09 07:28] farcasclaudiu commented on #58
Ok, let's close it.

[2021-08-09 07:28] farcasclaudiu commented on #58
closed as resolved.

[2021-08-09 07:28] #58 closed

[2021-08-09 08:22] mumby0168 commented on #84
Hi @CarloGarcia would you fancy having ago at implementing this? Feel free to open a draft PR with your idea if you want some feedback 👍

[2021-08-09 08:25] mumby0168 opened #85 "Implement ExistsAsync<TItem>"
A set of overloads to see if an instance of a `TItem` exists.

The api should allow for a simple point read to see if an item exists `ValueTask<boo> ExistsAsync(string id, string pk = null)`

It can also include a implementation that allows a `Expression<TItem>` to be used.

[2021-08-09 12:28] #44 closed

[2021-08-09 14:23] mumby0168 commented on #83
I have seen this demo https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs#L676-L772 linked at the bottom of that document, it certainly sounds like something we should be looking into. It would be interesting to better understand how the native client supports this and what our API should look like to neatly wrap up this featur

[2021-08-13 15:12] mumby0168 opened #88 "Linq Queryable Decorator"
Someone may know the answer to this but as we do not expose the `LinqQueryable` how would a consumer chain extra linq methods other than just a `.Where(x => ...)` clause, would we need to add some sort of extra API for this?

[2021-08-16 13:19] IEvangelist commented on #88
That's a fair question. Instead of exposing the raw `LinqQueryable` we could expose a custom type that scopes the operators that we know are actually supported. See: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-linq-to-sql#SupportedLinqOperators. This would prevent consumers from trying to use something that isn't supported, and we could just use like the decorator pattern or som

[2021-08-16 13:27] mumby0168 commented on #88
Yes that makes sense rather than providing direct access, how would the decorator work would this replace the Expression<T> method signatures we have on the methods currently or would this be something we return to a client?

[2021-08-16 13:29] mumby0168 commented on #88
@IEvangelist I think I am following just maybe a sketch of the interface signature would clarify it for me struggling to wrap my head around what it would like 🤔

[2021-08-16 13:38] IEvangelist commented on #88
Actually, the more I think about this - the more exposing an ordering operator doesn't really make sense. If we're returning an `IEnumerable<TItem>`, they can order that once it is materialized client-side. What's the benefit of having the server do it?

[2021-08-16 13:40] mumby0168 commented on #88
This was mainly thinking of the paging, unlikely you would want to make an unordered query and then cycle through the pages. For example most recent time stamps and look back in time as you cycle the pages?

If not I am not sure what default order it would take or if it would be repeatable if that makes sense.

[2021-08-16 14:03] mumby0168 commented on #88
Assuming in terms of a decorator it would look something like this?

[code]

[2021-08-19 13:36] mumby0168 commented on #88
What are your thoughts on this @bradwestness @IEvangelist @dcuccia ?

[2021-08-20 13:17] mumby0168 opened #92 "Created & updated time stamps"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
* When a document is created mark the current time as `DateTime.UtcNow`
* When a document is modified mark the last updated time as `DateTime.UtcNow`

**Describe alternatives you've considered**
This can be controlled manually by a user but it may be a nice addition for this library to ha

[2021-08-20 13:21] mumby0168 commented on #92
The `DateTime` properties could even become `DateTime?` then this feature could be opt in only via configuration.

[2021-08-20 20:09] mumby0168 commented on #78
Have dupe for this #92

[2021-08-20 20:09] #78 closed

[2021-08-20 20:21] mumby0168 commented on #50
@anujrhicstech Hi, was there anything else to add on this? I think I agree with @IEvangelist this unfortunately would be a reserved property for this package. If there is nothing more on this would you be okay if was to close the issue?

[2021-08-20 21:37] burdier opened #99 "Exception when Item doesn't exist"
I'm  using this  cool wrap along with mediataR,  when I try to get an Item using  GetAsync and  it does not exist
I got this exception: Microsoft.Azure.Cosmos.CosmosException : Response status code does not indicate success: NotFound (404); Substatus: 0; ActivityId: 18f33e01-f625-4439-ab27-f2ff7f6be36b; Reason: ()

**To Reproduce**
[code]

**Expected behavior**
GetAsync is supposed to be a null  w

[2021-08-25 17:16] mumby0168 opened #103 "Support Pre-Release Nuget Packages"
**Is your feature request related to a problem? Please describe.**
`n/a`

**Describe the solution you'd like**
In order to let consumers move with some newer features that may include breaking changes allow a pre-release version be published including newer features.

[2021-08-30 10:19] diredd commented on #56
Its

This is great library, I am planning to use this in our application and have plans to use Managed Identity enabled between Function App and CosmosDB. Can you please suggest if there is a way to extend this library to support Managed Identities, or write custom ICosmosClientProvider provider and register instead of DefaultCosmosClientProvider.

It's not clear for me if Cosmos DB supports manag

[2021-08-30 10:19] diredd commented on #56
Its

This is great library, I am planning to use this in our application and have plans to use Managed Identity enabled between Function App and CosmosDB. Can you please suggest if there is a way to extend this library to support Managed Identities, or write custom ICosmosClientProvider provider and register instead of DefaultCosmosClientProvider.

It's not clear for me if Cosmos DB supports manag

[2021-09-01 12:35] hidim opened #105 "PropertyNamingPolicy doesn't work on Insert and Update"
My SerilizationOptions setting is showed below.

                options.SerializationOptions = new Microsoft.Azure.CosmosRepository.Options.RepositorySerializationOptions
                {
                    IgnoreNullValues = true,
                    PropertyNamingPolicy = Microsoft.Azure.Cosmos.CosmosPropertyNamingPolicy.Default,
                    Indented = true,
                };

I can

[2021-09-01 13:41] hidim commented on #105
I've fixed the solution by adding naming properties on appsettings.json.
services.AddCosmosRepository specified properties didn't worked.

[2021-09-01 13:42] IEvangelist commented on #105
Could you please share the exact code that didn't work versus the code that does?

[2021-09-01 13:46] hidim commented on #105
services.AddCosmosRepository(options =>
            {
                options.CosmosConnectionString = this.configuration.GetValue<string>("CosmosConnectionString");
                options.DatabaseId = "Master1";
                options.ContainerPerItemType = true;
                options.OptimizeBandwidth = true;
                options.SerializationOptions = new Microsoft.Azure.CosmosRepository

[2021-09-04 15:37] mumby0168 commented on #105
Hi there I do not think you can apply config on the serialisation options in that way I think these need to come via code.

[2021-09-04 15:49] mumby0168 commented on #99
Hi there this is the standard behaviour of the azure cosmos sdk it throws a `CosmosException` with the `StatusCode` field set to `HttpStatusCode.NotFound`. The library aims to not deviate too much from the implementation of the sdk only enhance it. One thing that I have done and could be useful to you is to right an extension method as below which will offer you what you need for the time being. W

[2021-09-06 11:59] mumby0168 opened #107 "Configurable RU's for Containers"
When using the `ContainerPerItemType` setting it is possible that a consumer would want to be able to setup the container to have a set amount of RU's.

The library should be able to expose this configuration see this link for information on how the cosmos SDK exposes this.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.database.createcontainerifnotexistsasync?view=azure-dotne

[2021-09-06 12:01] mumby0168 opened #108 "Configurable Indexing Policy"
When using the `ContainerPerItemType` setting it is possible that a consumer would want to be able to setup the container to have a indexing policy.

The library should be able to expose this configuration see this link for information on how the cosmos SDK exposes this.

https://docs.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-dotnet-sdk-v3-sql#indexing-policy

We could add this on t

[2021-09-06 16:03] mumby0168 commented on #56
Hi all @diredd @PraveenValavan @IEvangelist

We can support this I will add it to the version milestone '2.4.0'.

[2021-09-06 16:11] mumby0168 commented on #41
Going to close this issue as the latest set of PR's have reduced all of these down from the warning level from the code metrics pipeline see below:

![image](https://user-images.githubusercontent.com/23740684/132243386-4f0bb086-4b29-4839-b8d7-f7eeb78229d6.png)

[2021-09-06 16:11] #41 closed

[2021-09-08 06:08] #103 closed

[2021-09-13 20:26] #80 closed

[2021-09-13 20:28] mumby0168 opened #112 "Container Syncing"
The new configuration options that have been provided as part of this library may mean that containers become out of sync with what is configured within this library.

An opt-in option to sync container properties when the container is initially lazy-loaded can allow clients to keep their container settings in sync.

There should also be a manual option provided via a DI-enabled service to manuall

[2021-09-14 17:05] #112 closed

[2021-09-14 20:28] #107 closed

[2021-09-15 07:02] mumby0168 commented on #56
Hi all please see PR #114 @diredd @PraveenValavan.

[2021-09-15 23:12] burdier commented on #99
Thanks

[2021-09-15 23:12] #99 closed

[2021-09-16 12:42] IEvangelist commented on #52
Closing this as it has been fixed:
https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/main/Microsoft.Azure.CosmosRepository/src/Item.cs#L47

[2021-09-16 12:42] #52 closed

[2021-09-16 14:53] mumby0168 commented on #83
@andrcami going to look at implementing this would you expect to see if just for upserts?

[2021-09-17 15:03] lappy4711 commented on #83
I concur with andrcami, it is a much needed feature....I am currently stuck in my project due to overwrite issues.

[2021-09-17 15:07] IEvangelist commented on #83
Hi @lappy4711 - to be clear, I want to make sure that you're using this SDK - is that correct? Or are you using the official Cosmos DB SDK?

[2021-09-17 15:09] lappy4711 commented on #83
Yes, I am using the SDK....really like the simplicity.

[2021-09-17 15:25] mumby0168 commented on #83
I am going to look at it next week currently away 🇵🇹. My only concern is having to store the 'etag' on the 'Item' may result in a breaking change 🤔

[2021-09-17 15:32] lappy4711 commented on #83
Why would you have to to that? You already have the _etag.

[2021-09-19 09:39] mumby0168 commented on #83
Yes we would probably keep with the same exception that the SDK that cosmos throws can't remember the status code off the top of my head.

What I meant by the etag was we would need a field on our base class 'Item' and also on our interface 'IItem' which could result in a breaking change. We would need this as we would have to use the etag when we are upsetting a document.

[2021-09-21 20:33] #56 closed

[2021-09-22 20:53] mumby0168 commented on #88
@IEvangelist what were your thoughts on this?

[2021-09-22 20:58] mumby0168 commented on #50
I am going to close this issue now I think we have provided a suitable workaround for this.

[2021-09-22 20:58] #50 closed

[2021-09-23 12:50] mumby0168 commented on #88
Yes, that would be the plan using a wrapper similar to what I put above. I was thinking just to start with the basic ones to begin with such as `OrderBy`

[2021-09-23 14:37] IEvangelist commented on #88
Another quick thought, will this impact any of the new APIs, such as `CountAsync` -- since they already have support for these operators?

[2021-09-23 17:10] mumby0168 commented on #88
Yes maybe if we do this then, we won't need to expose it although it would not hurt to have two options?

[2021-09-24 13:47] IEvangelist commented on #43
Yeah, this is probably not worth the effort and would be a breaking change.

[2021-09-24 13:47] #43 closed

[2021-09-29 07:40] mumby0168 commented on #88
@IEvangelist what are your thoughts on this API?

[code]

This work's nicely for the LINQ operators that result in an `IQueryable<TItem>` but not so much for using operators such as `.Select(item => item.Id)` I did kind of go down the root of the this API but then this kind of break's the pattern of the whole Repository by now not returning a `TItem` this was it what do you think?

[code]

The API

[2021-09-29 14:28] IEvangelist commented on #88
I guess my initial thoughts are that we already expose two overloads of the `GetByQueryAsync` APIs:

[code]

Does the added complexity internally add a lot of external benefit, in other words - is it worth it? What's the risk and exposure, how many edge cases will we encounter, how many consumers will actually use it? Also, how does this differ from the `GetAsync` with the `Expression<Func<TItem,

[2021-10-01 17:35] mumby0168 commented on #88
Hi yeah I've thought about this and I think you very well may be right, I liked the idea of been able to use some extra bits such as .OrderBy but I suppose as a client there is nothing stopping you just injecting the container provider and then performing this query yourself for these niche scenarios.

Only problem with the SQL queries and the options above is in my team certainly we make use of t

[2021-10-11 04:47] BeigeBadger opened #117 "Add a Managed Identity example"
**Is your feature request related to a problem? Please describe.**
Support for authentication using Manage Identities was added in #114, but the documentation was note updated with any examples on how to use this. On the surface it would appear that you simply pass in a `DefaultAzureCredential` to the `TokenCredential` property, however this does not work out of the box for me.

Given a Startup.cs

[2021-10-12 21:42] mumby0168 commented on #117
Hey @IEvangelist @BeigeBadger sound's great, look forward to seeing your PR, thanks for taking the time to contribute.

[2021-10-22 09:15] mumby0168 opened #122 "Smarter Container Syncing"
There is currently a mechanism in the library that will allow you to sync container properties on the first request to an `IRepository<TItem>` for a given `IItem` type.

This currently will check the configured `ContainerProperties` by the library and then it will apply these to the cosmos container that the `IItem` is using. This does not take into account that `IItem`s are sharing a container po

[2021-10-29 15:16] mabvanaartrijk opened #123 "Share throughput over containers"
**Is your feature request related to a problem? Please describe.**
If ContainerPerItemType = true, the containers are created with their own throughput (autoscale or manual). However, I would like to share the total database throughput over the containers. This is a setting in Cosmos, but I can't get it to work.

**Describe the solution you'd like**
Add a setting, or make it possible to use manual

[2021-10-30 14:19] mumby0168 commented on #123
Hey, @mabvanaartrijk I like this idea, so what you are saying is rather than setting the throughput at each level of each container, you would like the throughput at the database level that all the containers share? (I do just need to check on how this works in terms of database level throughput not something I have done before)

Around the issue with not allowing manually created container's coul

[2021-11-01 09:09] mabvanaartrijk commented on #123
Hi @mumby0168 . Yes, if you create a new container in the Data Explorer on Azure Portal you have the option to provision dedicated throughput for the container. So a _RepositoryOptions__ShareDatabaseThroughput_ option would be really helpful.

Steps to reproduce the issue:

1. Create a container in Data Explorer with the option _Provision dedicated throughput..._ off.
2. Add a CosmosRepository, fo

[2021-11-01 09:26] mumby0168 commented on #123
Hey @mabvanaartrijk thanks for the detailed response, ah okay I see what is happening here.

So the option you have set ` options.SyncAllContainerProperties = true;` will be trying to sync all containers with the default throughput value of `400` RU/s and a manual throughput as the properties.

Is the desired behaviour you would expect to be that if you have configured the setting `RepositoryOptio

[2021-11-01 12:21] totalitydevelopment opened #126 "Ability to set CosmosClientOptions - helpful with local Docker Emulator usage"
**Is your feature request related to a problem? Please describe.**
When attempting to use the repository in a containerised application the following error occurs:
"System.InvalidOperationException: Cannot create Collection Information for Drivers in database drivers with lease leases in database drivers : The SSL connection could not be established, see inner exception.
 ---> System.Net.Http.Http

[2021-11-01 13:00] #122 closed

[2021-11-01 13:12] IEvangelist commented on #126
Hi @totalitydevelopment - this is probably something that could be added. If you have any available cycles, we'd love your contributions. Please feel free to create a PR to add this functionality, and reference this issue in the PR. I've mark this issue as `up-for-grabs`. Thanks again.

[2021-11-01 13:27] totalitydevelopment commented on #126
Thanks for the response @IEvangelist. I think I've found it.

In Microsoft.Extensions.DependencyInjection.ServiceCollectionExtensions:
[code]

I will give this a run out now and let you know if it isn't resolving the requirement (and look into a PR).

Apologies for wasting your time.

[2021-11-01 13:28] IEvangelist commented on #126
No worries whatsoever, if you couldn't find it - others may have not been able to either. This is great, we should probably add to the README.md. Thank you

[2021-11-01 13:41] mumby0168 commented on #126
Hey, @IEvangelist @totalitydevelopment Yes, that extension method should do the trick, happy to add more configuration options if you find you need it 👍  I agree with @IEvangelist we need to work on the README.md to reflect this sort of stuff.

[2021-11-01 13:46] mumby0168 commented on #126
@totalitydevelopment really cool to hear you are considering using this for your microservice project, If you wouldn't mind, what is your domain? I am currently using this for warehousing and it's working a treat 👍

[2021-11-01 13:51] totalitydevelopment commented on #126
@mumby0168 we're using a load of new technologies within the team for a greenfield project.

Our first run at a microservice architecture using K8, Docker, Azure Functions and the like. Also a first run with Cosmos and we found ourselves writing a lot of repetitive code.

I watched part of the Cosmos Conf and saw @IEvangelist video so dived straight onto it as it saves sooo much repetition in our

[2021-11-01 13:58] mumby0168 commented on #126
@totalitydevelopment we were in a very similar position this has been great for us 👍

[2021-11-01 14:00] totalitydevelopment commented on #126
Likewise, good luck with the project.

[2021-11-01 14:04] mumby0168 commented on #126
Thanks, @totalitydevelopment did the above options solve the issues you were having?

[2021-11-01 14:57] mabvanaartrijk commented on #123
Thanks @mumby0168! I've misinterpreted the _SyncAllContainerProperties_ setting. It works perfectly with this setting to false.

So to recap: manually creating the collections in Data Explorer and setting _SyncAllContainerProperties_ to false works. It would be a nice feature if you can set _RepositoryOptions__ShareDatabaseThroughput_ and use a shared database throughput setting for all underling

[2021-11-01 14:58] mumby0168 commented on #123
Great news @mabvanaartrijk yeah it certainly could be would this be something you'd like to look to implement? We are happy to accept any PR's

[2021-11-01 15:06] mabvanaartrijk commented on #123
I'll discuss with my team if we can add it to one of our next sprints👍

[2021-11-01 16:34] totalitydevelopment commented on #126
I believe so @mumby0168 but am still having other issues just wanted to be sure before closing. Will let you know one way or the other but definately looking promising.

[2021-11-02 11:25] mustafarabie opened #127 "Bulk Update"
Currently only bulk create is supported by the package, where an IEnumerable<TItem> can be passed to CreateAsync function and items are added to the cosmos container. This functionality is missing for UpdateAsync. It comes in handy when you have multiple items that needs to be added and increases performance.

Add a new UpdateAsync function that accepts IEnumerable<TItem> and updates the cosmos co

[2021-11-02 11:29] totalitydevelopment commented on #126
@mumby0168 this is what I ended up with after being able to override the cosmos client options as discussed.
[code]

[2021-11-02 11:29] #126 closed

[2021-11-02 11:30] totalitydevelopment commented on #126
Closing this off as my initial requirement is already open to use.

[2021-11-02 11:34] mumby0168 commented on #127
Hi @mustafarabie I like the idea! The only thing I would try is getting a list of tasks back from an `var tasks = items.Select(x => _repository.UpdateAsync(x).AsTask());` call and then use those tasks inside a `Task.WhenAll(tasks)` and see if that achieves the same thing?

[2021-11-02 12:47] IEvangelist commented on #127
Hi @mustafarabie - I too like this idea. Please send over a PR and reference this issue in it. Thanks

[2021-11-02 14:52] mustafarabie commented on #127
Currently only bulk create is supported by the package, where an IEnumerable can be passed to CreateAsync function and items are added to the cosmos container. This functionality is missing for UpdateAsync. It comes in handy when you have multiple items that needs to be added and increases performance.

I followed the same logic as of the CreateAsync.

[2021-11-02 15:19] mustafarabie commented on #127
@IEvangelist trying to push my branch to create a PR, but I am getting an error that I don't have write access to the repo.

Thanks

[2021-11-02 15:26] IEvangelist commented on #127
You have to create a fork of this repo under your account, and then push to your fork. From your fork, you'll then create a PR into this repo. Does that make sense? In your fork you'll create a feature branch, see [Understanding the GitHub flow](https://guides.github.com/introduction/flow).

[2021-11-02 16:43] mumby0168 opened #128 "Partial Document Update - Replace"
Support for the new general availability feature of a partial update would be really good to add see the announcement below

https://devblogs.microsoft.com/cosmosdb/partial-document-update-ga/

First thought's after looking at the .net code samples would be to have something such as

[code]

# Raw API Examples

[code]

[2021-11-02 18:14] mustafarabie commented on #127
Makes perfect sense. PR created. Thanks

[2021-11-02 21:32] mumby0168 commented on #128
This would probably need to be aware of the `[JsonProperty]` attribute to help apply the naming of properties used in the potential fluent call to acess the object's properties.

[2021-11-02 21:37] mumby0168 commented on #128
Doing some more reading around this I think we can definitely look at adding Replace support so a client can update values based on the docs that can be found here

https://docs.microsoft.com/en-gb/azure/cosmos-db/partial-document-update

[2021-11-02 21:41] mumby0168 commented on #123
Great look forward to hearing from you 👍

[2021-11-02 21:42] mumby0168 commented on #105
Hey @hidim any update on this was it still a problem or can we close this issue?

[2021-11-03 02:19] #127 closed

[2021-11-07 18:11] Zettersten opened #133 "Feature request: System.Text.Json (alternative to Newtonsoft)"
Not sure if lower dependencies can manage this request/feature but it’d be cool to see this AMAZING project support the newer System.Text.Json for deserialization/serialization and attributing (keys, partitions, etc).

perhaps even, a “bring your own serializer” solution.

Either way - would be eager to hear your alls thoughts!

[2021-11-08 13:55] IEvangelist commented on #133
Hi @Zettersten - this is something that we've thought about for sure. I believe that in the future, the official Cosmos DB .NET SDK will be porting to the new `System.Text.Json` serializer. I'm curious if they're going to expose some sort of "bring your own serializer" solution. Which I agree would be ideal. But we're a bit hands tied unfortunately. We cannot change it, unless they do as it's simp

[2021-11-11 07:26] hidim commented on #105
@mumby0168 haven't tested AddCosmosRepository options but appsettings.json configuration resolved my problem. I think we can close this issue.

[2021-11-11 13:40] #105 closed

[2021-11-11 13:40] #133 closed

[2021-11-14 07:12] Krysztal opened #136 "add JsonStringEnumConverter for model"
I would like to save my enum name instead of value to database.  Could you add JsonStringEnumConverter support for storing?

[2021-11-15 13:39] IEvangelist commented on #136
Hi 👋 @Krysztal
Thank you so much for posting this issue. We really appreciate it. @mumby0168 is working on getting the docs site stood up for this repo, and from there we could work to add content around the existing JSON serialization support.

This is related to #105 in that we answered how to customize serialization there. Does that help?

[2021-11-15 13:55] #128 closed

[2021-11-15 17:35] Krysztal commented on #136
Hi David,
no really. Options what are at issue 105 help to change naming of stored properties, but I need to store enum using property name, not the value. To do it automaticly in .NET you can use JsonStringEnumConverter, but repository does not support it.

[2021-11-15 17:58] IEvangelist commented on #136
Hi @Krysztal - Ah, yes. I stand corrected, you're right. @mumby0168 and I are looking at custom serialization bits. It might be related to this, but as of right now it's not supported.

[2021-11-16 09:13] totalitydevelopment commented on #123
Hi @mumby0168 @mabvanaartrijk @IEvangelist

I've been looking at exactly this need today.

Currently all our containers are getting their own throughput which is looking like an expensive hobby $!

Database level throughput would be great for test environments in particular but likely also prod until we know what the userbase will be like as cost is a consideration for my client.

I think possibly

[2021-11-23 07:54] mumby0168 commented on #136
Hi @Krysztal and @IEvangelist have you tried adding the attribute to the given properties? I know it's not ideal but that is how I have worked around it for the time being. It looks like this

[code]

[2021-11-23 07:55] mumby0168 commented on #136
@IEvangelist it might be nice to add support for system.text JSON serializers but to start with as an opt-in option that is configured on startup, we could then expose the full range of options that provides, this could be done by a simple implementation of the `CosmosSerializer` we have spoken of before

[2021-11-23 08:00] mumby0168 opened #143 "Distributed Locking (Lease Lock)"
**Is your feature request related to a problem? Please describe.**
It would be really great if the library could offer an opt-int repository that would allow a document to be inserted that could act as a lock maybe into something called a `lease` container. The library could abstract a nice and simple API over this.

**Describe the solution you'd like**
Something that allows a distributed lock to

[2021-12-08 21:05] boylec opened #144 "The ability to turn off camel casing for dictionary key serialization"
**Is your feature request related to a problem? Please describe.**
When I persist an object with a Dictionary<string, T> camel casing is applied to my dictionary keys when the object is stored in Cosmos. I'm unable to find a way to turn this off.

**Describe the solution you'd like**
I'd like to be able to turn off dictionary key camel casing as part of config the same way I can turn off property

[2021-12-08 21:28] boylec commented on #144
I've found a way to make this happen.

Couple notes:
* Had to specify the following in my config.
[code]
* Specifying this in my startup .AddCosmosRepository as follows did not actually do anything
[code]
* I personally then specify a [JsonProperty("...")] attribute on each of my cosmos models to explicitly name the properties with casing as I please but if I remove those attributes, camel casing

[2021-12-08 21:28] #144 closed

[2021-12-08 21:33] IEvangelist commented on #144
I'm happy that you were able to get this to work with the config. @mumby0168 it does look like we have a bug as the `AddCosmosRepository` should have honored this, right?

[2021-12-09 08:12] mumby0168 commented on #144
Yeah, @IEvangelist I think we expose to opt-in implementations of the `CosmosSerializer` one which supports the full settings for `Newtonsoft.Json` & one that support's the full options for `System.Text.Json` then we can expose the full set of options provided for each and let clients migrate over to them as they please.

On the note of this issue would have to check if the value of the constant u

[2021-12-09 13:48] IEvangelist commented on #144
Yeah, I suppose that's a bit tricky. We should continue to monitor the potential abstractions from the Cosmos team for JSON serialization. Thanks

[2021-12-14 13:37] Rabosa616 commented on #53
I´ve modified localy your code on the pagination branch to use skip and take
I´ve removed  the continuationToken and rename the lastPage by pageNumber.
Then add on the DefaultRepository.cs at line 300 this:

``
 query = query.Skip(pageSize * (pageNumber - 1)).Take(pageSize);
``

I´ve did several tests and works as expected.

[2021-12-15 08:41] robertbennett1998 opened #145 "JSON serialisation in the InMemoryRepository"
**Is your feature request related to a problem? Please describe.**
When using the InMemoryRepository for testing it is possible to write a test that would pass but the actual code been tested could cause JSON serialisation issues. This is because the InMemoryRepository doesn't serialise / deserialise the objects stored.

**Describe the solution you'd like**
The InMemoryRespository should serialise

[2021-12-15 08:42] mumby0168 commented on #145
Hi @robertbennett1998 really like this idea, we could look at performing the serialization & deserialization as well as storing the concrete types, this would add an extra step getting closer to mimicking the real service 😃

[2021-12-15 19:05] mumby0168 commented on #145
Closed as part of #146 well done @robertbennett1998 thanks very much 😄

[2021-12-15 19:05] #145 closed

[2021-12-16 10:12] Krumelur commented on #136
I tried @mumby0168 's suggestion of using `[JsonConverter(typeof(StringEnumConverter))]` but it still results in integers being stored. I just ported to code over from using Cosmos DB Client - works like charm there. So not sure why the serializer option would be ignored by the wrapper?

[2021-12-16 10:15] mumby0168 commented on #136
Hi @Krumelur I use this quite often and seems to work without issue. have you made sure you are using Newtonsoft?

See an example here full qualified

[code]

if you have a little sample you could share, I can assist further :)

[2021-12-16 10:19] Krumelur commented on #136
Thanks @mumby0168 .

Originally, I had this when using Cosmos Client:

[code]

This worked fine. Now you're saying to put the attribute on the property, which I also tried:

[code]

Doesn't work either. When creating an offering:

[code]

I get:
[code]

[2021-12-16 10:23] Krumelur commented on #136
Ha! Found it. Auto completion sometimes can be a nightmare. It suggested `using System.Text.Json.Serialization;` instead of `using Newtonsoft.Json;`, which was only the 2nd item to select. I just went "CTRL + . " and "ENTER". Sorry for the confusion. Now it's working.

[2021-12-16 10:34] mumby0168 commented on #136
Okay great, this caught me out just the other day as well lol. Glad your sorted 👍

[2021-12-16 10:35] mumby0168 commented on #83
Hi @andrcami we are on with this, see #147 😄

[2021-12-16 19:35] IEvangelist commented on #136
So can we close this issue, or is there still something wrong?

[2021-12-16 21:42] mumby0168 commented on #53
Hey, @Rabosa616 @evenlee @anujrhicstech @zhangzunke @deepbass we have just merged and released our first take on paging make use of continuation tokens see PR #142 this includes an example and works for a load more paging scenario.

[2021-12-16 21:42] #53 closed

[2021-12-16 21:49] mumby0168 opened #149 "Skip/Take Paging API"
Paging support using the `Skip()` `Take()` approach making use of offsets, which we have discussed and think will have its use cases however, in terms of cosmos DB it can cost a lot of RUs, and it's quite in-efficient. We plan to implement this API with clear documentation that states the implications of using this and where you may want to and where you should certainly not use this API.

See dis

[2021-12-17 08:15] Krumelur commented on #136
I'm not the original poster, but my vote is to close it because putting `[JsonConverter(typeof(StringEnumConverter))]` on the property or even on the `enum` itself seems to be the standard solution to the problem.

[2021-12-17 08:23] Rabosa616 commented on #149
I´ve already implemented on my own, do you want me to do a PR to your Repo?

[2021-12-17 08:37] mumby0168 commented on #149
Yeah, that sound's great 😄  be happy to see it.

[2021-12-20 21:55] mumby0168 commented on #83
Hi @andrcami @lappy4711 closing this issue now, the PR has been merged and we are waiting on #79 & #92 before we cut a release @robertbennett1998 is working on this and should be done soon 😃

[2021-12-20 21:56] #83 closed

[2021-12-21 18:54] catsburg opened #151 "Support for TransactionalBatch"
The repositories currently don't offer support for transactions (using TransactionalBatch), for use cases where a bunch of CRUD actions have to all succeed/fail together. If transactions are required, the only solution now is to implement a custom Repository, which kind of defeats the purpose of using this library.

It would be cool to be able to do something along the lines of:
`await _repository

[2021-12-22 01:34] IEvangelist commented on #79
Closed as implemented in #150

[2021-12-22 01:34] #79 closed

[2021-12-22 07:55] mumby0168 commented on #92
Thanks, @robertbennett1998 great work for this on PR #150

[2021-12-22 07:55] #92 closed

[2021-12-22 07:58] mumby0168 commented on #151
Hi @catsburg, this is certainly a part of our plans myself & @IEvangelist where just chatting about it the other day. It might be required that we inject something other than `IRepository<T>` to deal with batches as a batch can span multiple `IItem`s in this libraries case, but I like the look of your API it certainly could be done and could ease some of the error handling when a batch fails. Like

[2021-12-22 12:53] mumby0168 commented on #136
@IEvangelist this is interesting related to the discussion we had about supporting `System.Text.Json` vs `Newtonsoft.Json` and exposing more of the features

[2021-12-22 13:04] mumby0168 commented on #151
Having a look at this and found this example, the question here is how can we make this API they already offer easier to use, just an open question, see here.

https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/Usage/TransactionalBatch

[2021-12-22 13:35] Krumelur opened #152 "Cannot use GetAsync<T>() to retrieve subclasses of T"
**Describe the bug**
Cannot retrieve subclass types.

**To Reproduce**
* My repository is a `DefaultRepository<Offering>`.
* My project has two subclasses: `Document : Offering` `Module : Offering`.
* When storing them I can see that the `type` property in Cosmos DB is set to `Document`, respectively `Module`.
* I'm using `GetAsync()` to retrieve an `Offering`, however I'm always getting NULL back

[2021-12-22 14:26] mumby0168 commented on #152
Hi @Krumelur, yes this is a currently expected behavior, this has been in the library from day one, there is a workaround to this which is setting the `Type` field to an empty string then the code that is doing the check as shown below, then ignores the type that is set in the JSON.

This is the check inside the `GetAsync<T>` that I am referring to for reference

[code]

See the file [here](https:

[2021-12-22 14:28] Krumelur commented on #152
Let's assume for a minute, I were to remove 'type'. Would I then get back actual subclass (`Document`) instance or just base class instances (`Offering`)? I think it would still deserialize into the base type `Offering`, ignoring all properties of the subclass, no? @mumby0168

[2021-12-22 14:33] mumby0168 commented on #152
Yes that is what I was proposing, on the `Document` type, set the `public Type { get; set; } = ""` then it will work as you expect.

[2021-12-22 14:35] Krumelur commented on #152
I'm about to test it but am very sceptic. How would it know what to deserialize into? The only hint what concrete type to use would be the "type" property.

[2021-12-22 14:43] mumby0168 commented on #152
We use the SDK under the hood and as far as I am aware this simply says can the JSON deserialize into the type you are asking for and if it can it will, it works much like say a POST request does for a HTTP request and a class to deserialize into.

It is very similar to duck typing in concept I suppose.

[2021-12-22 14:48] Krumelur commented on #152
Gotcha. The problem is "the type you are asking for". I want all offerings from last year, don't care what type they are. So I cannot ask for a specific type. I want to get back a list of `Offering`, some of which would be 'Document', others would be `Module`. Your suggestion of strung `type = string.Empty` half solves the problem: I can now at least get the item. I'm now experimenting with adding

[2021-12-22 14:51] mumby0168 commented on #152
You could do something such as inject a `IRepository<Offering>` & `IRepository<Module>` but that may result in two reads in your case, the other option like you say is an offering type, I would need to see your object structure to advise further. But let me know how you get on 👍

[2021-12-22 15:04] IEvangelist commented on #152
Cosmos doesn't care what the shape of your item looks like. That's the beauty of it, and when I first created this repo-pattern lib, that's how I intended for it to work. It was at some point later, that a contributor added the type check to help ensure that developers wouldn't make mistakes, partial serialization/deserialization. This was literally the first PR #1.

I was torn, but wanted the lib

[2021-12-22 15:16] Krumelur commented on #152
When I first started testing the repository, I added a bunch of items and it was working nicely. Those items were subclasses of a base type. All properties of the subclasses end up in the item's JSON. To answer your question/concern: writing is not the issue.

[2021-12-22 15:49] Krumelur commented on #152
This is a proof of concept: https://gist.github.com/Krumelur/a875f8d0dd6af9a27b8b51d5e4dd59d3

By adding `[JsonConverter(typeof(OfferingJsonConverter))]`, the custom converter will be executed.
However, I need to add set the `Item.Type = string.Empty` and must add another `OfferingType` property to make it work.

Long story short, I think if there were an option to ignore `Type`:

* Backwards comp

[2021-12-22 16:49] catsburg commented on #151
@mumby0168 Glad to hear that it's part of your plans!

Just to share some thoughts on this:
- Enabling transactions over multiple `IRepository<T>`s might cause the following problems:
  - A transaction is scoped to a logical partition within a container, but multiple `IRepository<T>`s CAN use different containers. The only way to know for sure you're working with a single container, is when you ha

[2021-12-22 17:21] Krumelur commented on #152
@mumby0168 To better understand the `Type` property: is it only evaluated when getting a single item or also when using GetAsync() with a predicate?

[2021-12-22 19:17] mumby0168 commented on #152
I really like the idea of making this an optional feature, I think your concerns are valid, but I think this is something a user has to bear in mind when using inheritance much the same way that you would if used inheritance with DTOs and a controller, think documentation and samples would help minimise this risk

[2021-12-22 19:20] mumby0168 commented on #152
I don't think it does, we've been doing this for a while and it just checks the property is defined, not that it has a value that matches the type.

[2021-12-22 19:34] Krumelur commented on #152
I just did a test with `GetAsync(predicate)` and the results differ from what you'd get from `GetAsync(id)` where it's just checking for an empty string (length == 0).

- `"type" : null`: item not returned (!!!)
- `"type" : ""`: item not returned (!!!)
- `"type" : "some value`: item not returned
- `"type" : "Offering": item returned
- `"type" missing entirely: item returned (!!!!)

[2021-12-22 19:38] mumby0168 commented on #152
Ahh okay that test is very useful looks like we have some work to do here. I think we can make this an optional feature as in to do the check, would that suit you? Imagine you don't want the check in this case and would prefer a duck typing like behaviour ?

[2021-12-22 19:53] Krumelur commented on #152
Yeah, I suggest a a config property, like `bool CheckType` with a default value of `true` to not break old behavior.

Also, the checks need to be the same in both places. Currently, one can set type to an empty string and `GetAsync(id)` will work, but `GetAsync(predicate)` is broken. Or one can add a `[JsonIgnore]` to the `Type` property, then the predicate version will work but the ID version fai

[2021-12-22 19:54] mumby0168 commented on #152
Yes I think I agree, those test cases you provided will certainly help us provide a fix.

[2021-12-23 12:10] Rabosa616 commented on #149
I've created the PR with the code I have in my solution

[2021-12-27 10:59] mumby0168 commented on #149
Great work @Rabosa616 PR merged, will release this shortly #153

[2021-12-27 10:59] #149 closed

[2022-01-04 18:50] WestDiscGolf opened #157 "Error thrown when using the patch builder on a poco property which has attribute decoration"
**Describe the bug**
On creating a POCO item, derived from `Item`, which requires additional attributes on the properties the update patch behaviour fails.

**To Reproduce**

1. Create a new POCO
2. Derive from `Item`
3. Add string property to POCO
4. Decorate with attribute eg. `[Required]`
5. Save a new instance to a container
6. Try to update the property, which has the attribute decoration, th

[2022-01-04 19:29] WestDiscGolf commented on #157
Marking as closed as PR has been merged

[2022-01-04 19:29] #157 closed

[2022-01-05 15:49] kevin-benton commented on #84
Is this still open for someone to take on? I have a basic implementation and tests working that I can PR and take feedback on. Currently looking into the examples to find some good places for addition.

[2022-01-05 15:56] mumby0168 commented on #84
Hi @kevin-benton we did have a PR in for this #86 but it went a little stale, be more than happy to review your PR 😃

[2022-01-05 17:19] #84 closed

[2022-01-06 15:47] mumby0168 opened #161 "Add Continuation Token Paging Support to the InMemoryRepository<T>"
We have recently introduced paging into the `DefaultRepository<T>` but there is not yet support for the continuation token version  in the `InMemoryRepository<T>`. This could return a `Guid` as the token and just use `Skip().Take()` under the hood.

[2022-01-08 02:03] ylr-research commented on #108
Is there any existing test I can look at?

[2022-01-08 08:47] mumby0168 commented on #108
Hi there may be some tests, this is currently done as an attribute that you apply to properties to say whether or not they are indexed, if you find the attributes folder in the code & look at the indexing policy provider that should give you a head start 😃

[2022-01-08 08:49] mumby0168 commented on #108
Hi the best place to start is the link on the issue other than that I would look at the ContainerItemBuilder implementation and the tests for that 😃

[2022-01-08 13:12] mumby0168 opened #162 "Change Feed Processor Support"
The SDK that we are currently wrapping with this library also includes the code to allow the change feed to be processed for a given container. It would be nice if this library could expose an easy way to listen from the change feed for a given container. This could use our strongly typed notion of `IItem`s to allow an interface such as below to be defined.

[code]

The library could be set up to

[2022-01-09 10:48] mumby0168 opened #164 "Functional/Integration Tests"
It would be good if we could look at adding some tests that run against the real cosmos DB service to assert that the functions we provide are working between PR's and commits to avoid releasing issues in the library.

I see a few options for this:

* Run the tests against a provisioned cosmos account in the cloud, we could utilize the free tier of 1000 RUs (Connection String as an environment var

[2022-01-09 14:50] ylr-research commented on #164
I like option 1

[2022-01-09 16:23] ylr-research commented on #164
Never mind. Answer is above

[2022-01-09 16:24] ylr-research commented on #164
@mumby0168 any specific account you prefer to use for testing?

[2022-01-09 16:27] mumby0168 commented on #164
No, we'd have to chat to @IEvangelist around this I think, we'd not want to run these over & over depending on there RU consumption we would want to avoid this costing us if possible I think but they would provide a large benefit I think, but like with any functional tests we want this to be solid and repeatable and certainly not flakey which is something we would have to consider from the get go.

[2022-01-09 17:11] dcuccia commented on #164
Can we ensure for a class of functional tests that only one instance runs concurrently? If not, we could run them against the real DB as a scheduled cron job (nightly or hourly), so that we're ensured to not go over the limit.

[2022-01-09 18:51] mumby0168 commented on #164
We could look to do that if they get that big I think to start with we should be okay, they only need to be smoke tests really just to make sure the core bits of the library function properly, so should be okay to run on a PR I think maybe they have to manually run. We don't get that many PRs at the same time.

[2022-01-10 13:17] filipmhpersson opened #165 "Allow for sorting when doing paginated requests"
**Is your feature request related to a problem? Please describe.**

We need to be able to sort paginated queries. I see this as a critical feature needed for paging. Lists usually needs to be sorted and when the requests is paginated that the needs to be done serverside otherwise we always need to get all of the data, sort it and then page it, instead of letting the cosmos db serve the paginated r

[2022-01-10 13:26] mumby0168 commented on #165
Hi @filipmhpersson this is something in the plans and we have discussed it briefly here what do you think to the proposal inside this issue? #88

It talks of a decorator to expose some extra functionality such as `.OrderBy` which I assume would suit the situation you are describing?

I will have a read of that specification pattern that is new to me but looks interesting, was this a feature sugges

[2022-01-10 15:49] MatthewIreti opened #166 "Unique Key Constraints"
**How to declare Unique Keys in properties?**
Today I tried creating a unique constraint using the UniqueKeyAttribute on the property like the following;

[code]
Also used
[code]

I tried creating a record with the same registration Id and I didn't get any Violation errors and I have duplicate errors.
So how do I set up the  Unique Key policy? I cannot find any documentation on how this is done.

[2022-01-10 15:57] mumby0168 commented on #166
Hi @MatthewIreti will look into this when I get the chance, @dcuccia was this a PR you added, could you assist?

[2022-01-10 16:24] #162 closed

[2022-01-11 07:01] filipmhpersson commented on #165
I think it is a similar solution and probably up to taste more than anything else how it should be implemented. One of the things I like with the specification pattern is that it is used by dotnet-architectures samples (example https://github.com/dotnet-architecture/eShopOnWeb). Which makes it recognizable to many dotnet developers.

If we agree on how the api should look for sorting it is somethi

[2022-01-11 07:06] mumby0168 commented on #165
Okay that sounds great, I am happy for you to do to put up a PR and we can have a look?

What was your plan of action? Was it to look at adding the specification pattern as an overload to each existing `PageAsync(...)` that we have or was it to add a new one with a different signature? Either way happy to review a PR sometimes seeing the code with a sample attached is the best way 😃

[2022-01-11 08:09] filipmhpersson commented on #165
It really depends on if we should introduce breaking changes or not. But I think the best way would be to introduce it is an overloaded page method and then later on it's possible to deprecate other methods if they are not needed.

But this is a big change on how we interact with queries to the repository and I feel that we at least need a bit more discussion to decide on how the interface should

[2022-01-11 08:18] mumby0168 commented on #165
Okay yes, I would agree with avoiding breaking changes where possible, so I also prefer the overloaded method.

I have been looking into the specification pattern, I like the concept! In terms of the two different paging methods we currently implement one being the continuation token and the other being the basic skip take the approach, how would you see this shaping up as specifications? Would we

[2022-01-11 08:42] filipmhpersson commented on #165
Hmm for different paging I think both methods are actually needed and serve different purposes. I think it's easiest to keep them in the same specification and use helpful messages and maybe even InvalidOperationException if someone tries to combine them. Or we say that continuation token is prioritized over skip/take.

Regarding the limited operations I would say the specification pattern will wo

[2022-01-11 12:50] mumby0168 commented on #165
Okay yes I think I like this as a concept @filipmhpersson did you say you fancied raising a PR for this?

[2022-01-11 14:43] filipmhpersson commented on #165
If we agree on the interface I can raise a PR on it. But I can't really spend the time on a PR if we can't agree before the PR on what the general solution for sorting should be.

[2022-01-11 15:09] IEvangelist commented on #165
I like it, one thing to alter is that the new APIs wouldn't need the `continuationToken` right?

You had:

[code]

But I think it would be:

[code]

[2022-01-11 15:10] mumby0168 commented on #165
It depends, I wanted to see the continuation token option obvious that you are using it by maybe keeping the separate would asssit?

[2022-01-11 15:15] IEvangelist commented on #165
Yeah, let's see what the PR looks like and go from there. I'm good either way.

[2022-01-12 08:23] filipmhpersson commented on #165
Ok I'll start looking at making PR for this

[2022-01-12 10:06] mumby0168 commented on #165
Great! Feel free to raise a Draft PR at any time 😃  if you want some feedback.

[2022-01-13 15:55] filipmhpersson commented on #165
Draft PR:
https://github.com/IEvangelist/azure-cosmos-dotnet-repository/pull/171

Like I said in the PR description.

My biggest hurdle right now is trying to get both pagination patterns to fit and work with the same Page return type. And I'm currently not sure how we can get current page when using continuation token.

Maybe it's something that has to be separated or do you think it's something

[2022-01-15 14:12] WestDiscGolf opened #174 "[New Feature] Adding query costs to debug logging to aid developer inner loop"
**Is your feature request related to a problem? Please describe.**
Currently there is limited support to determine how many RUs are used for each query. This is currently only surfaced in the paging functionality.

**Describe the solution you'd like**
After discussions on twitter with @mumby0168 it was determined that we could add the costs to debug statements to allow for this to aid developers l

[2022-01-15 21:39] mumby0168 commented on #174
Thanks @WestDiscGolf for raising this I think you are right, it will really help people to get a feel of what their queries cost.

[2022-01-16 10:17] WestDiscGolf opened #175 "Specify some types in the same container but not others, is this possible?"
**Describe the bug**
I've recently finished running through the [Pluralsight course on data modelling in cosmos db](https://app.pluralsight.com/library/courses/data-modeling-partitioning-patterns-azure-cosmos-db) and I thought it might be a fun exercise to see if I could implement the final container/type construction using the repository tooling. But I am unsure if either I'm not doing it right o

[2022-01-16 10:32] mumby0168 commented on #175
Hi, since you are using the container builder, you need to set the container per item type property to true, this gives you full control over where each type is stored. Hope this helps, we need to add this to the docs really.

[2022-01-16 14:20] ylr-research commented on #175
Maybe because ContainerPerItemType is false?

[2022-01-16 16:13] WestDiscGolf commented on #175
Ah OK, will give it a go. The whole item per container set as true but trying to put more than one item in a single container confused me. Will let you know. Thanks 😊

[2022-01-16 16:36] mumby0168 commented on #175
Yes, I can see where you're coming from, with that set to `false` it will put all item's in the same container, using just the `/id` as the partition key, turning this to true is like saying, "I am taking control now" if that makes sense. You tell each `IItem` which container and what partition key to use.

[2022-01-16 20:31] WestDiscGolf commented on #175
I've just tried it. Using exactly the same code above but changing ...
[code]
... to ...
[code]
And it works as expected.
![image](https://user-images.githubusercontent.com/374343/149676952-f04bf42d-a404-42ea-8768-a6d23a6360db.png)

Thanks for responding 😄

[2022-01-16 20:31] #175 closed

[2022-01-17 06:27] mumby0168 commented on #164
The basics of these are now in place, I want to add some contribution documentation to this. See the [Accepetance Tests here](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/tree/main/tests/Microsoft.Azure.CosmosRepositoryAcceptanceTests)

[2022-01-17 19:20] #174 closed

[2022-01-18 15:00] WestDiscGolf opened #183 "[Question] On doing a GET how to get access to meta data?"
**Is your feature request related to a problem? Please describe.**
When updating an item there is the functionality to use the associated etag of the resource through the `IItemWithEtag` construct however the `Get*` functionality does not return the etag to use. How does this value get surfaced to the consumer of the repository?

Very briefly I tried updating the `GetAsync` method to set the ETag

[2022-01-18 19:35] WestDiscGolf commented on #183
With the Cosmos SDK I would access the Etag from the returned result from the container read call ...

[code]
I wonder if there is an option for overrides of the `Get*` versions of the methods which expose the `ItemResponse<T>.Headers`?

[2022-01-18 19:49] mumby0168 commented on #183
We aim to have dedicated documentation for this soon.

There is a bit of explanation in the README see below.

## Optimistic Concurrency Control with Etags

The default repository now supports etags and will pass them when `IItemWithEtag` is implemented correctly or the base classes `EtagItem` or `FullItem` are used. The etag check is enforced on all updates when `TItem` is of the correct type. It

[2022-01-18 19:54] mumby0168 commented on #164
These are running as part of the CI build on main now. Going to close this issue.

[2022-01-18 19:54] #164 closed

[2022-01-18 19:54] mumby0168 commented on #166
Hi @MatthewIreti are you still stuck with this?

[2022-01-18 19:55] mumby0168 commented on #152
Hi @Krumelur did you manage to overcome this?

[2022-01-18 20:34] MatthewIreti commented on #166
yes I am still stuck...

[2022-01-18 20:37] Krumelur commented on #152
I didn't fix the underlying issue. But I hacked together something to make it work, but it's limited (for example, GetAsync with predicate does not work, I need to use a SQL query instead). Actually, I have a work item to remove the dependency on Cosmos Dotnet Repo when we're done with the MVP. It feels I'm not using it the way it was intended to and then there's this issue. So I think I may be be

[2022-01-18 20:42] mumby0168 commented on #166
Okay, has the policy been added to the container when created in the portal? [This stack overflow post](https://stackoverflow.com/questions/53490454/how-to-show-unique-keys-on-cosmos-db-container) shows how you can see.

My other question would be, did you let this library create the container, or did it already exist in the portal?

If you are unsure you could try and delete the container then ru

[2022-01-18 20:47] mumby0168 commented on #152
Okay, I am sorry to hear about the potential decision to stop using this library. If were to make the check on the `type` field optional per `Item` type you are configuring would this fix your issue?

For example, we could allow you to turn off strict type checking for any `Offering` types? This could be done via the fluent setup we currently have.

[2022-01-18 20:59] Krumelur commented on #152
Whether we continue using the library is not just about this issue. The library is well implemented but it must fit the use case. Currently, I don't see it add much benefit to our use case. But nothing is decided yet. :-)

Back to this problem here. Here --> https://github.com/IEvangelist/azure-cosmos-dotnet-repository/issues/152#issuecomment-999616271 you question whether the check for the type s

[2022-01-18 21:15] mumby0168 commented on #152
yes, I would agree with that, we have just implemented some acceptance tests which run against a real instance of Cosmos DB see [here](https://github.com/IEvangelist/azure-cosmos-dotnet-repository/tree/main/tests/Microsoft.Azure.CosmosRepositoryAcceptanceTests) so we should be able to look at re-producing your bug and fixing it when we get chance.

I would need to discuss the idea about the type c

[2022-01-18 21:21] mumby0168 commented on #166
I have not looked at this bit before, let me have a look and get back to you. We have newly added some acceptance tests for the library looks like a good case for adding one to ensure this is working as correctly.

[2022-01-18 21:25] mumby0168 commented on #166
@MatthewIreti Just looking through the code, you should configure the property name without the `/` as it's added here in the code: https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/a0332374a61873022b5b7df7b4f85310027a1221/src/Microsoft.Azure.CosmosRepository/Providers/DefaultCosmosUniqueKeyPolicyProvider.cs#L49

[2022-01-18 21:28] mumby0168 commented on #166
Ah on second thoughts @MatthewIreti I think I spotted the bug!

https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/a0332374a61873022b5b7df7b4f85310027a1221/src/Microsoft.Azure.CosmosRepository/Providers/DefaultCosmosUniqueKeyPolicyProvider.cs#L49

The above is using the property name, not the key name attribute you set in the attribute, let me fix this.

[2022-01-18 22:22] IEvangelist commented on #166
I agree @mumby0168, I think it should be using `keyName` instead of the formatted property name. The `keyName` value is in scope, it should be as easy as swapping that out, and testing it again.

[2022-01-18 22:23] mumby0168 commented on #166
Yeah I agree, it just threw me off a little as all the tests look like they are also testing it incorrectly, not sure if the implementation is a little overkill will review this tomorrow.

[2022-01-20 11:16] mumby0168 commented on #166
Please see the linked PR #191 @MatthewIreti with the bug fix and updated documentation 😃

[2022-01-20 11:22] MatthewIreti commented on #166
Gracias.. i will

[2022-01-20 11:49] mumby0168 commented on #152
Hi @Krumelur just looking at re-creating your issues, does this test look similar to what you are aiming to do?

[code]

See the classes below

[code]

And finally the container setup.

[code]

[2022-01-20 13:49] Krumelur commented on #152
That's the scenario I have, yes. What's different though: I'm not creating containers for the specific sub types but only for the base type. I then do store subtypes into the base type container.

[2022-01-20 14:05] mumby0168 commented on #152
Okay, this is doing the same thing, it just tells the library it expects all 3 types to be stored in the same container.

I hope to get some time to look into this some more later, are you happy to look over a PR once I have some examples? Jus to make sure we fix the inconsistency, seems you have done a lot of investigation into this already (might have a head start on me)?

[2022-01-20 14:08] Krumelur commented on #152
Absolutely! I can look into it!

René

[2022-01-20 14:53] mumby0168 commented on #152
Cool we'll work together, I'll raise the draft PR, and then i'll do some more work towards it later on.

[2022-01-20 16:04] #166 closed

[2022-01-20 16:06] mumby0168 opened #193 "Change Feed Support Documentation"
Some docs on the change feed support ahead of the release:

- [ ] How to configure the change feed for a specific item type
- [ ] Explain you can have multiple processors for the same change
- [ ] Explain that item's sharing a container get a single processor under the hood
- [ ] Explain it creates a lease container by default

[2022-01-20 21:10] mumby0168 opened #194 "Enable nullable reference types"
The library could benefit from nullable reference types being enabled. This would aid internal development as well also let us properly decorate external APIs where they can return `null`.

[2022-01-21 00:29] #152 closed

[2022-01-21 19:09] mumby0168 opened #197 "IAsyncEnumerable<TItem> Continuation Token Paging Implementation"
This library currently has a few paging implementations. None of which yet support streaming. It would be great to add one that returns an `IAsyncEnumerable<TItem>` for scenarios where data would benefit from being streamed. This is a great fit for use with continuation tokens.

A possible API might be something like below:

[code]

This could potentially allow a caller to either get all the resul

[2022-01-21 19:12] mumby0168 commented on #194
@IEvangelist is there any guidance on this, seen a few bits when googling that suggest targeting a framework as well as `netstandard2.0` such `net6`. I'd seen you'd just done an MS learn module for this. I figured you'd be the best person to ask 😊

[2022-01-24 16:45] IEvangelist commented on #194
Still working on the learn module, but I do agree that this could be helpful here. Let me think on this a bit more and get back to you.

[2022-01-24 20:13] IEvangelist commented on #194
Yes, I think we should enable this. Nullable reference types were added in C# 8, and I thought we were using later versions than that already.

[2022-01-24 20:14] mumby0168 commented on #194
Okay great stuff :)

[2022-01-30 13:58] mumby0168 opened #201 "Optionally Enable/Disable count queries for paging requests"
When paging using this library a count query is made to get the total number of items that matches a query.

This could be costly in larger datasets.

I propose two ways to disable paging:

- [ ] global setting on `RepositoryOptions` to turn this on/off
- [ ] overload on the page methods themselves that default to `false` making this opt-in to avoid running up a large unexpected bill.

[2022-02-02 05:42] mumby0168 commented on #165
Great work @filipmhpersson this is now released 💪🏻

[2022-02-02 05:43] #165 closed

[2022-02-02 05:43] mumby0168 commented on #88
This is now supported via the specification pattern.

[2022-02-02 05:43] #88 closed

[2022-02-02 18:57] mumby0168 commented on #136
Hi, @IEvangelist @Krumelur @Krysztal I am going to close this issue given we have had a resolution and no push back since.

Thanks all.

[2022-02-02 18:57] #136 closed

[2022-02-02 22:07] AnyaMostowyj opened #204 "Add the ability to provide custom ConnectionPolicy"
As detailed in the Cosmos documentation, the native client exposes the ability to override the default ConnectionPolicy: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.connectionpolicy?view=azure-dotnet

Many of these settings are quite niche, but there are some standard features (like RequestTimeout and RetryOptions) that it would be useful to be able to override.

F

[2022-02-02 22:14] mumby0168 commented on #204
Hi @AnyaMostowyj - this sounds great!

We currently have the `ICosmosClientOptionsProvider` https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/2432320ceb0a46227f6f91bed42e54556759bb63/src/Microsoft.Azure.CosmosRepository/Providers/DefaultCosmosClientOptionsProvider.cs#L16

This class provides the options for the `CosmosClient` that we create and then cache for the lifetime of the a

[2022-02-03 13:43] AnyaMostowyj commented on #204
Good stuff, I'll get on the case!

[2022-02-05 18:51] mumby0168 commented on #204
hi @AnyaMostowyj I have just noticed this might already be possible - check this out

https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/2432320ceb0a46227f6f91bed42e54556759bb63/src/Microsoft.Azure.CosmosRepository/Extensions/ServiceCollectionExtensions.cs#L42

[2022-02-07 15:00] IEvangelist commented on #204
Yes, I agree with @mumby0168 - this is possible through that API.

[2022-02-08 15:21] AnyaMostowyj commented on #204
Apologies for the delay, @mumby0168 @IEvangelist , and great spot, this does indeed appear to allow me to pass a custom CosmosClientOptions object. It appears I would need to reference the type directly from the underlying Microsoft.Azure.Cosmos namespace though, instead of being nicely wrapped by a Microsoft.Azure.CosmosRepository type (like RepositoryOptions). Supplying these options also appear

[2022-02-17 12:48] VitorLucas opened #207 "Query with DateTime.Date not return the expected items"
Hi guys, I've been having this issue and I already tried many things, when we try to do this validation right in bellow code:

[code]

it's not filtering the date and return an empty list.

[code]

[code]

**To Reproduce**
To reproduce the error, you need to make a search by date, once you make the query comparing just `DateTime` it works, but when you compare DateTime. Date like:  `x.Date.Value.D

[2022-02-23 04:25] #194 closed

[2022-02-23 04:26] IEvangelist commented on #207
Hi @VitorLucas,
This should work. Is that the exact code that you're using?

[2022-03-05 04:31] cjbanna opened #218 "Add configuration option to bypass calls to Create___IfNotExists()"
**Is your feature request related to a problem? Please describe.**
The `DefaultCosmosContainerService` calls both `CreateDatabaseIfNotExists()` and `CreateContainerIfNotExists()` during startup. While this implementation is acceptable for hosts with long running processes, such as hosting in IIS and Azure App Service, in Azure Functions it is executed on every function call. The result is an addit

[2022-03-05 21:35] mumby0168 commented on #218
Hey @cjbanna how are you using this in your functions? Are you using a functioning startup? As described here -> https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

Would you be able to share your `.AddCosmosRepository(options => ...)` for a little more context?

[2022-03-05 21:38] mumby0168 opened #220 "Change Feed Projection ➡️ Azure Service Bus"
It would be really nice if we could look at an extensions package of some sort maybe along the lines of `Microsoft.Azure.CosmosEventSourcing.Extensions.AzureServiceBus`.

This could contain a way to define a simple projection that maybe takes an event does some simple mapping to an integration event for example. This could then place that message onto an azure service bus topic or queue.

[2022-03-05 21:39] mumby0168 commented on #220
@IEvangelist thinking this might be built upon your idea mentioned about the inline function to write directly to a cosmos DB.

[2022-03-05 21:41] mumby0168 commented on #204
I think in this case given we aren't trying to hide the library we are wrapping this might be okay as is. What do you think @IEvangelist ?

[2022-03-05 21:42] mumby0168 commented on #201
Thanks @robertbennett1998 this was closed as part of the PR #213

[2022-03-05 21:42] #201 closed

[2022-03-05 21:47] mumby0168 commented on #161
Hey @robertbennett1998 @IEvangelist

I know Rob you've raised this issue https://github.com/Azure/azure-cosmos-dotnet-v3/issues/2987 around the complications with replicating continuation tokens.

I was wondering what both your thoughts were on doing an implementation of this maybe ignoring some of the complications, as long as we document it?

I came to this thought as if you were using the in-me

[2022-03-05 22:33] robertbennett1998 commented on #161
I was thinking about this, I think we could do something with hashing the object and saving the index that object was in. This would allow us to replicate that behivour in that thread. I will try to have a look at it it tomorrow night / early next week.

We could do a basic implementation now and document it but it would be frustrating especially if it was implemented at a later date and broke uni

[2022-03-06 07:01] mumby0168 opened #222 "Refactor `InMemoryRepository<TItem>` into `partial` classes"
The file that contains all of the in-memory implementations is getting quite large. It would be great to see this tidied up a little.

See the work that was done as part of this PR for inspiration ➡️ #221

[2022-03-06 19:38] cjbanna commented on #218
Thanks for the reply. I didn't follow the guidance in the project. After following the example in the Azure Functions project, it works as expected. Closing this issue.

[2022-03-06 19:38] #218 closed

[2022-03-08 20:46] mumby0168 opened #224 "Save events as atomic batches"
When saving a set of events we want all of the events to be saved or none of the events to be saved. This would be supported with a combination of `etags` and the batch support provided by the SDK.

A possible implementation of this could use a batch operation to create the new events and update an existing special event. This special event can be named something along the lines of `TransactionalE

[2022-03-10 15:34] #224 closed

[2022-03-18 11:33] mumby0168 opened #257 "`ArchivableEventItem` - Allows events to be archived"
It might be the case that events might need to be archived and then removed after a period of time.

[code]

This can use the time to live property to mark the event for deletion after a period of time.

There could then be a new method on the `IEventStore<TEventItem>` something like `_eventStore.ArchiveAsync("partitionKeyValue", x => x.Id == "A")`

[2022-03-19 11:03] mumby0168 opened #260 "`IEventItemProjectionBuilder<TEventItem>` - Inbox Decorator"
We can make use of another container or maybe an in-memory cache to guarantee that an event won't be processed more than once.

This would use the unique ID of an event this would be saved as soon as the event is provided by the change feed. It can then be checked for every event that we process. There are two implementations of this we can use.

- in-memory
- using another container

We can use t

[2022-03-19 11:07] mumby0168 opened #261 "`IEventItemProjectionBuilder<TEventItem>` - Dead Letter Container Decorator"
If we fail to handle a change from the change feed. We want to make sure that we store a copy of that event. We can write this `EventItem` directly to another container, acting much like a dead letter queue. We can then provide another processor that can poll this dead letter queue and try and re-process them, we could provide a mechanism that will only retry and event 5 times for example. If it s

[2022-03-22 21:22] mumby0168 opened #266 "InMemoryRepository has different implementations per interface"
Given you are using the in-memory repository implementation and you make use of the new types `IWriteOnlyRepository<T>` and `IReadOnlyRepository<T>` if you resolve them both for the same `TItem` then say write to using the write-only interface then try and read using the read-only version, then the result will not be found.

I think this is due to the fact that these are registered with a differen

[2022-03-23 01:31] IEvangelist commented on #266
That makes sense. I always thought that for testing we would have just use a `static ConcurrentDictionary`.

[2022-03-24 18:17] robertbennett1998 commented on #266
A static dictionary would work but if we want to really improve the in memory implementation we should consider implementing some services that store manipulate the data (serialisation/deserialization and etags/ttl/ts) moving some of the storage logic out. This would let us work towards a more realistic implementation.

[2022-03-28 12:53] IEvangelist commented on #266
I like it and I agree. How much effort would it take?

[2022-03-31 21:13] robertbennett1998 commented on #266
It could be a fair bit, it depends how far we want to go. I have started fleshing out a basic implementation. With what is there (and a little extra work) we could fix this bug. Then the framework is there to extend and clean it up. I have raised a POC that I will keep working on. Hopefully will get some time this weekend to take a look.

https://github.com/IEvangelist/azure-cosmos-dotnet-reposito

[2022-04-17 10:53] emrekara37 commented on #19
Hi @IEvangelist  I want to contribute by implementing the multi-database feature, will you advise me?

[2022-04-18 05:39] sushruthkumar123 opened #270 "Patch Update not working when Serialization Options Property Naming Policy is set to Default."
**Describe the bug**
When "propertynamingpolicy" in set to "Default" in SerializationOptions the SDK throws Bad Request Exception since its trying to find a property and could nt find. Sdk is not considering Serialization settings for PropertyNamingPolicy when creating PatchOperations.

Example :
When configuration is set to "Default". Property name is "Name".
But when trying to replace the value

[2022-04-18 12:07] IEvangelist commented on #19
Hi @emrekara37 - sounds good. This would take a bit of work; I think we should start with a discussion first, that way others can more easily chime in. See https://github.com/IEvangelist/azure-cosmos-dotnet-repository/discussions/271

[2022-04-18 12:10] IEvangelist commented on #270
Hi 👋 @sushruthkumar123
Thank you so much for posting this issue. We really appreciate it. Could you please post the code to reproduce this bug, that would be really helpful to debug and fix the issue.

[2022-04-18 12:12] IEvangelist commented on #207
I'm closing this due to inactivity and no response from the user. If we need to reopen this, we can do so.

[2022-04-18 12:12] #207 closed

[2022-04-18 12:13] IEvangelist commented on #123
Hi @mabvanaartrijk - sorry for not replying earlier. Yes, that looks like the correct place.

[2022-04-18 18:27] sushruthkumar123 commented on #270
Hi @IEvangelist, please find the example here. Let me know if more details are required.

[2022-04-18 19:01] mumby0168 commented on #270
Hi @sushruthkumar123 and @IEvangelist

This is correct looking at the code it will not do what your expecting, we have some work to do on this one, in the meantime you can use the JsonProperty attribute to get around this and I'll try and get a fix in for this soon 👍🏼

[2022-05-04 17:25] SeanFarrow opened #273 "use System.Text.Json as the Json serializer"
I really like this project.

We are starting to use this in a new .Net 6-based Azure functions project.

I noticed that NewtonSoft.Json was used for the serialization.

Would it be possible to move to using System.Text.Json?

I'm happy to do the work, if that would help.
Thanks,
Sean.

[2022-05-04 17:32] IEvangelist commented on #273
We are currently stuck with NewtonSoft.Json as that is what the underlying official .NET SDK for Cosmos DB uses. I believe that there is an effort to allow for a bring your own serializer option coming, but I do not know when.

[2022-05-04 17:48] SeanFarrow commented on #273
Ok, makes sense.
The hacks seem a bit nasty.
Let’s close this and I’ll re-open when v4 comes out.
Thanks,
Sean.

From: David Pine ***@***.***>
Sent: 04 May 2022 18:32
To: IEvangelist/azure-cosmos-dotnet-repository ***@***.***>
Cc: Sean Farrow ***@***.***>; Author ***@***.***>
Subject: Re: [IEvangelist/azure-cosmos-dotnet-repository] use System.Text.Json as the Json serializer (Issue #273)

We are

[2022-05-11 18:27] rakeshbimra opened #274 "Response status code does not indicate success: BadRequest (400); Substatus: 1001; ActivityId: 68af0c72-ff2d-4055-8898-b94a08f18ead; Reason: ();"
While creating new item I am getting below error

**"Response status code does not indicate success: BadRequest (400); Substatus: 1001; ActivityId: 68af0c72-ff2d-4055-8898-b94a08f18ead; Reason: ();"**

**Stack Trace:**

   at Microsoft.Azure.Cosmos.ResponseMessage.EnsureSuccessStatusCode()
   at Microsoft.Azure.Cosmos.CosmosResponseFactoryCore.ProcessMessage[T](ResponseMessage responseMessage, Fun

[2022-05-13 06:43] SeanFarrow opened #275 "Provide the RU's used by an operation"
I'm just starting to use this to replace a self-written interface to Cosmos.

The one thing my current interface gives me is the RU cost of an operation.

Could this be surfaced in some way through the repository interface(s)?

The Two options I can think of currently are introducing an ItemWrapper, rather than IItem--although you may want to keep this as it is useful, or extending IItem itself.

[2022-05-13 06:49] SeanFarrow opened #276 "Allow a user to change the type used for the IItemWithTimestamps interface"
I currently use Nodatime to do all my date/time work.

It would be nice if the IItemWithTimestamps interface was generic so I could directly use this without going through a conversion

[2022-05-13 20:54] mumby0168 commented on #274
Hi @rakeshbimra would you be able to share the full error? Cosmos DB usually logs a JSON body with some more details on the 400 response.

[2022-05-13 20:55] mumby0168 commented on #275
Hi @SeanFarrow we do support this for some of the paging APIs. I think we could start logging this out if that is any help? We do in places but I think they are logged at `Debug` level.

[2022-05-13 20:56] mumby0168 commented on #276
Hi @SeanFarrow `IItemWithTimestamps` is just our custom extension on the initial `IItem` I am sure you could create your own version which uses `Nodatime`. It's not something I have used before.

[2022-05-14 08:46] rakeshbimra commented on #274
I tried with another object, But I am getting same error.

Microsoft.Azure.Cosmos.CosmosException : Response status code does not indicate success: BadRequest (400); Substatus: 1001; ActivityId: 62f88a7a-952f-41ef-9bd3-1c09df77df0d; Reason: ();
   at Microsoft.Azure.Cosmos.ResponseMessage.EnsureSuccessStatusCode()
   at Microsoft.Azure.Cosmos.CosmosResponseFactoryCore.ProcessMessage[T](ResponseMes

[2022-05-14 13:07] mumby0168 commented on #274
Okay I think @IEvangelist ran into this problem as well a few months back.

Have you tried setting the serialised options on `RepositoryOptions` if you see here https://github.com/IEvangelist/azure-cosmos-dotnet-repository/blob/fe87219fd93cd28087f92473e1bafae055f6378f/src/Microsoft.Azure.CosmosRepository/Options/RepositorySerializationOptions.cs#L31

It defaults to camel case unless overridden.

[2022-05-14 16:23] rakeshbimra commented on #274
I tried but still getting the same issue

[code]

Microsoft.Azure.Cosmos.CosmosException : Response status code does not indicate success: BadRequest (400); Substatus: 1001; ActivityId: af83319b-ef2b-4abc-93ec-357f214a1f48; Reason: ();
   at Microsoft.Azure.Cosmos.ResponseMessage.EnsureSuccessStatusCode()
   at Microsoft.Azure.Cosmos.CosmosResponseFactoryCore.ProcessMessage[T](ResponseMessage resp

[2022-05-16 04:12] SeanFarrow commented on #276
OK, that makes complete sense, thanks.

[2022-05-16 04:12] #276 closed

[2022-05-16 04:17] SeanFarrow commented on #275
@mumby0168
I suspected the information I wanted would be in the logs.

I'm using AppInsights, so use TelemetryClient to track this as a specific metric.
in terms of a solution to this, I can see two options:
Firstly, to change the signature of a method to provide the RU cost in the return value, which I don't think would make sense.
Or, have an out parameter on each method that provides the RU cos

[2022-05-16 04:20] SeanFarrow opened #278 "Support IAsyncEnumerable in the repositoy implementations"
Hi,

What is the roadmap for supporting the IAsyncEnumerable interface in the read methods of the IRepository interface?

If this isn't planned, it is something I'd be happy to work on.

[2022-05-16 07:07] mumby0168 commented on #278
Hi @SeanFarrow this has been planned for the paging methods. Not something we've had time to work on yet. I did wrap this myself in an implementation here. This was build on top of the paging support that already exists. However there is no reason this wrapper cannot be generic and provided by the library:

https://github.com/mumby0168/Nomad.Sorter/blob/88ff11adaf2efd85bd23fd235cad1f9a1e9b0573/src

[2022-05-16 19:45] boylec commented on #144
Update:

I've since found a better way to accomplish this without needing to specify [JsonProperty(...)] for each and every property in a collection/container.

Since Cosmos uses NewtonSoft / Json.NET under the cover implement a custom converter specifically for dictionaries that you don't want to enforce a naming strategy on:

[code]

Then use the converter on the IDictionary-implementing propert

[2022-05-18 11:44] mumby0168 commented on #275
Hi @SeanFarrow we would not want to modify the public API surface I do not think. So I don't think either the out parameter or the return type would work in this case. One option might be a set of new methods to all existing methods that allow you to collect the cost. But they would have to be new methods with new names. If we was to do that, I think I would prefer the return type option. `out` pa

[2022-05-18 14:47] dcuccia commented on #275
This seems like a cross-cutting concern - might it somehow be managed with an enclosing scope or wrapper class? Perhaps our core impl adds an pub/sub notification model using something like Mediatr for telemetry metrics of interest, including RUs, then those consumers that care can subscribe to those. That way it could be pay-to-play without adding complexity to the core API.

[2022-05-18 15:28] SeanFarrow commented on #275
I was thinking exactly this, maybe have an IMetricsTracker interface that can be passed in (but defaults to null if you don’t), then consumers that want this can implement there own. Of course we might want to provide implementations ourselves.

From: dcuccia ***@***.***>
Sent: 18 May 2022 15:47
To: IEvangelist/azure-cosmos-dotnet-repository ***@***.***>
Cc: Sean Farrow ***@***.***>; Mention ***@*

[2022-05-20 20:40] dcuccia commented on #275
@SeanFarrow @mumby0168 if we published Mediatr-style events such as those demoed here:

https://youtu.be/NmmpXcMxCjY?t=665

...then the consuming code could follow a wrapper pattern like this:

https://www.youtube.com/watch?v=dLPKwEeqwgU&t=705s

(using Nick Chapsas videos as shortcuts...could publish some sample code when I have time this weekend)

[2022-05-23 19:02] evancjohnson opened #280 "Support FirstOrDefaultAsync()"
**Is your feature request related to a problem? Please describe.**
I've recently transitioned to this from my own CosmosDbRepository and I have noticed the method FirstOrDefaultAsync() does not exist in the context of this library. I was wondering if anyone had run into this or was planning on implementing it anytime soon.

**Describe the solution you'd like**
I would like if the `Microsoft.Azure.

[2022-05-23 19:05] IEvangelist commented on #280
Hi @evancjohnson,

We are thrilled to have external contributors provide features, and suggestions - as you've done here. When you write a PR, please reference this issue number and tag me for review.

[2022-05-23 19:06] IEvangelist commented on #278
This seems related to #197

[2022-05-24 16:36] SeanFarrow commented on #278
It is related, but should probably be done separately.

From: David Pine ***@***.***>
Sent: 23 May 2022 20:07
To: IEvangelist/azure-cosmos-dotnet-repository ***@***.***>
Cc: Sean Farrow ***@***.***>; Mention ***@***.***>
Subject: Re: [IEvangelist/azure-cosmos-dotnet-repository] Support IAsyncEnumerable in the repositoy implementations (Issue #278)

This seems related to #197<https://github.com/IEv

[2022-06-02 11:49] mlenart1010 opened #282 "Entity Framework Support"
**Is your feature request related to a problem? Please describe.**
I am following the common patterns from Msft like eShopOnContainers, eShopOnWeb, Steve Smith's Clean Architecture approach and I believe that implementing your approach here utilizing Entity Framework would enable a more cohesive common approach across all the approaches.

**Describe the solution you'd like**
I am doing a DDD imple

[2022-06-28 18:14] PaulOst commented on #143
Great idea, @mumby0168! We could use lease locks for sure.

[2022-07-01 19:24] hades200082 commented on #123
I would say that in the absence of config to the contrary you should default to shared throughput.

[2022-07-05 21:42] henrikkarstrom opened #287 "Event sourcing Integration Testing with InMemoryRepository fails due to Problems with Dependency Injection"
**Describe the bug**
I have a ASP.NET project where I use the Event Sourcing functionality from this SDK. Now I want to use the InMemoryRepository for Integration Testing of my project. But I have identified several problems when I try to do this. But in this bug, I will only care about the two related to Dependency Injection of the InMemoryRepository in the DefaultEventStore constructor.

**Probl

[2022-07-12 09:53] mumby0168 commented on #287
Hi @henrikkarstrom thanks for this issue we have this on our radar and there is a re-write going on behind the scenes of the in memory repository implementation to try and deal with this a lot better, cc @robertbennett1998

The PR is still in draft here I think if you wanted to take a look [https://github.com/IEvangelist/azure-cosmos-dotnet-repository/pull/268](https://github.com/IEvangelist/azure

[2022-07-20 03:43] IEvangelist commented on #287
Hey @mumby0168 thanks for the reply here. I'm nearly done writing the book, which means I should be able to start committing more time to this project. Happy to review the referenced PR when it's out of draft.

[2022-07-23 01:58] PaulOst commented on #280
Hi @evancjohnson! Did you ever submit a pull request for FirstOrDefaultAsync()?

[2022-07-23 05:40] evancjohnson commented on #280
@PaulOst I just opened a PR for that an a few additional methods!

[2022-07-23 19:09] PaulOst commented on #280
You're the best, @evancjohnson !

[2022-07-23 19:16] #280 closed

[2022-07-23 19:25] mumby0168 commented on #280
Thanks @evancjohnson see this release, it includes these changes:

https://github.com/IEvangelist/azure-cosmos-dotnet-repository/releases/tag/3.6.0

[2022-07-28 13:09] rakeshrkumar6 opened #293 "Object reference not set to an instance of an object - Microsoft.Azure.Cosmos.Linq.SubtreeEvaluator.EvaluateMemberAccess"
I am getting below exception when using predicate(as shown below), but same code working fine when I am running app on localhost.

[code]
Below is the stack trace details:

Exception Message:Object reference not set to an instance of an object., StackTrace:   at Microsoft.Azure.Cosmos.Linq.SubtreeEvaluator.EvaluateMemberAccess(Expression expression)at Microsoft.Azure.Cosmos.Linq.SubtreeEvaluator.E

[2022-07-28 13:12] rakeshrkumar6 commented on #274
It starated working when I am using `CosmosPropertyNamingPolicy.Default`

[code]

[2022-08-02 03:05] IEvangelist commented on #293
The most likely candidate is that your expression cannot be evaluated on the server. Instead of your expression calling `.ToEnum<TEnum>` you might consider simply getting that value ahead of time, and passing the `int` value instead. Your `localhost` knows what that extension is, but the Cosmos DB server doesn't. For example:

[code]

Try that instead.

[2022-08-08 20:47] VaticanUK commented on #273
You can use a different serializer now (unsure when it became available) by inheriting from CosmosSerializer

[code]

and then referencing in CosmosClientOptions:

[code]

[2022-08-19 16:31] rakeshrkumar6 commented on #293
Thanks @IEvangelist , I have changed my code as you suggested and now it started working.

[2022-09-09 06:31] evancjohnson opened #297 "Exapand IPatchOperationBuilder to support Increment"
**Is your feature request related to a problem? Please describe.**
I would like to use the IPatchOperationBuilder to increment a property on a document without reading it first.

**Describe the solution you'd like**
Expand the IPatchOperationBuilder to support additional patch operations, starting with Increment

**Describe alternatives you've considered**
Currently I am writing patch operations (

[2022-09-09 16:44] kalyankdas commented on #123
Any word on the adding the feature for RepositoryOptions__ShareDatabaseThroughput?

[2022-09-11 16:35] nhwilly opened #298 "Suggestion - Move Interfaces to separate library"
Great package!

I've decided to use this package to replace the one I wrote years ago.  I really like it and I especially like the use of the `Specification` pattern as I'm using that pattern with EF Core 6 for the relational part of the app.

I'm working on a DDD project modeled on Steve Smith's approach, so I've gone to some lengths to keep infrastructure code out of my domain model.

With the `

[2022-09-13 17:37] nhwilly commented on #298
FWIW, I did clone the repo and got it all working after doing some upgrading of the current package dependencies.  Now the entire library isn't in my domain project.  In fact, it only lives in the infrastructure project.

[2022-09-13 17:37] #298 closed

[2022-09-16 16:55] nhwilly opened #299 "Simple Question - Create an instance not using DI for Integration Testing"
Great library, thanks to everyone for this.

I am trying do some integration testing and load test data during the initialization of my xUnit WebApplicationFactory.

At the point that I'm trying to load data, I don't have access to the Services collection.  Is there a simple way to just create an instance of IRepository<T> on the fly?

I've dug around and can't find anything.

TIA

[2022-10-17 12:37] IEvangelist commented on #222
Hi @idormenco, Yes. Please tag this issue in the PR. Thank you

[2022-10-17 12:39] mumby0168 commented on #222
Hi @IEvangelist @idormenco happy for you to help might be worth coordinating with @robertbennett1998 he started this PR #268 which may cover very similar ground, any ETA on this @robertbennett1998 ?

[2022-10-17 14:01] #222 closed

[2022-10-18 08:56] idormenco commented on #204
Can I take it?
I will add properties from `ConnectionPolicy` to `RepositoryOptions`

[2022-10-18 18:49] IEvangelist commented on #204
I agree!

[2022-10-18 18:49] IEvangelist commented on #204
I'm ok with that, as long as @AnyaMostowyj and @mumby0168 are?

[2022-10-18 18:50] #270 closed

[2022-10-21 13:03] IEvangelist commented on #299
Sorry for the delay, been buried lately. Thank you for your kind words.

There isn't an easy way to do that, that is by design. For integration and load testing, you'd have to configure it for testing, with your test connections. When you call:

[code]

Make sure you're configuring this to use your test connections.

[2022-10-21 13:04] #299 closed

[2022-10-21 13:04] #293 closed

[2022-10-22 14:59] oleksandrkyselov opened #304 "Possibility to set Id property order"
I'm currently using an entity that inherits from FullItem, when I persist items at CosmosDB, I see the property id is at the bottom of the object structure.

It would be great to have the possiblity to set the order of a specific property / properties.

I've tried the following approach without luck:

[code]

Is there any way to override or configure the order of the properties?

[2022-10-24 13:31] IEvangelist commented on #304
I'm curious, why would the order matter for JSON serialization? Typically, the order is only relevant with binary serialization.

[2022-10-27 08:51] alexkyse1 commented on #304
Good question, when you persist data in Cosmos DB, you can explore it at Cosmos Explorer, whenever you want to check consistency between objects, do SQL queries in there, compare data to build your logic such as in power BI, you appreciate to have the essential identifier keys in top for you to be more agile in querying, joining and exploring your own data.

[2022-11-15 13:22] rakeshrkumar6 opened #310 "Retrieve items Count based on GroupBy"
I am trying to retrieve items count based on group by. Could you suggest please how can I achieve that?  Below is my query

var groupByCountDtos = await _notificationRepository
               .GetByQueryAsync($"SELECT COUNT(1) AS Count, noti.NotificationType AS GroupByName FROM noti WHERE noti.UserUUId='{query.UUId}'" +
              $"AND noti.Status = {(int)NotificationStatus.UnRead} GROUP BY no

[2022-11-24 20:56] eholman commented on #273
The System.Text.Json serializer option works great!

The only thing is... while setting the serializer on the CosmosClientOptions, the `AddInMemoryCosmosRepository()` is still using Json.NET.

This leads to different serializing behaviour in e.g. writing tests and running the application.

[2022-11-28 14:21] IEvangelist commented on #273
That's an excellent observation. Would any of you be interested in working on addressing this issue?

[2022-11-28 14:31] SeanFarrow commented on #273
@IEvangelist  yes, what's the timescale for the next release?

[2022-11-28 15:26] eholman commented on #273
I can also work on it. There is also another challenge, in combination with Serializer instead of SerializerOptions and Casing Strategy.

[2022-11-28 16:13] IEvangelist commented on #273
No, immediate release timescale. Take your time, and this is much appreciated. Thank you.